.main-det {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .main-blocks {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    width: 1440px;
    height: 1860px;
    padding: 41px 70px;
    background: url("/img/bgndForPage1.svg"), white;

    .main-block1 {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .path {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        .p6 {
          color: #858585;

        }

        .block1_block {
          display: flex;
          width: 5px;
          height: 5px;
          background: #FF1A1A;
          transform: rotate(45deg);
        }
      }

      .main-block1-blocks {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1,
        .p2 {
          color: #1D1E33;
          text-decoration: none;
        }

        .p1 {
          width: 1106px;

        }

        .blocks {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;

          .border {
            display: flex;
            width: 1px;
            height: 15px;
            background: #1D1E33;
          }

          .p2 {
            border-bottom: 1px solid #1D1E33;
          }
        }
      }
    }

    .main-block2 {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .block1 {
        display: flex;
        width: 1300px;
        height: 470px;
        justify-content: center;
        align-items: center;
        border: 1px solid #1D1E33;

        .block1_block1 {
          display: flex;
          background-image: url("/img/investYkt.svg");
          width: 1250px;
          height: 420px;

       

          .svg {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            svg {
              width: 552px;
              height: 60px;
            }
          }
        }

      }

      .border {
        width: 1300px;
        height: 1px;
        background: #858585;
      }
      .block2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .block2-cont1{
          display: flex;
          flex-direction: row;
          gap:10px;
        }
        .block2-cont2{
          display: flex;
          flex-direction: column;
          gap:20px;
          .icon{
            display: flex;
            flex-direction: row;
            gap:30px;
          }
        }
      }
    }
  }
}