.main-container {

  display: flex;
  flex-direction: column;

  .main-block {
    width: 1440px;
    height: 640px;
    display: flex;
    flex-direction: row;
    background-image: url("/img/bgnd.svg");
    gap: 231px;

    .main-block__block1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 70px;

      .block {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
          color: #F9F9F9;
        }
      }

      .buttonForBid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 190px;
        height: 48px;
        background: #FF1A1A;

        .p5 {
          color: #F9F9F9
        }
      }
    }

    .main-block__block2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 25px;
      align-items: center;

      .block {
        color: #F9F9F9;
      }
    }

    .main-block__block3 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      .img {
        //position: relative;

      }

      .block {
        position: relative;

        .img1 {
          position: absolute;
          top: 204px;
          right: -273px;

        }

        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;


        .radio-button__custom {
          width: 24px;
          height: 24px;
          background: #F9F9F9;
          border-radius: 50%;
          position: absolute;
          border: none;
          top: 0;
          //left:110px;
        }

        #c1 {
          top: 36px;
          left: 85px;
        }

        #c2 {
          top: 133px;
          left: 14px;
        }

        #c3 {
          background: #FF1A1A !important;
          left: -10px;
          top: 243px;
        }

        #c4 {
          left: 14px;
          top: 350px;
        }

        #c5 {
          left: 95px;
          top: 440px;
        }

        .block_block.move {
          opacity: 0;

        }

        .block_block {
          display: flex;
          flex-direction: row;
          gap: 20px;
          justify-content: flex-start;
          align-items: center;
          height: 20px;

          .radio-button__label {
            margin: 0;
            padding: 0;

            font-family: $gilroyRegular;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #F9F9F9;
            letter-spacing: 0.06em;
            cursor: pointer;
            white-space: nowrap;

          }



          input[type="radio"] {
            display: none;
          }

          .p6 {
            color: $color1;
          }
        }

        .active {
          font-weight: 500;
          font-size: 24px;
          line-height: 140%;
          letter-spacing: 0.06em;
          font-family: $gilroyMedium;

        }

        #b1 {
          position: absolute;
          top: -10px;
          left: -35px;
          transform: rotate(30deg);
        }

        #b2 {
          position: absolute;
          top: 112px;
          left: -100px;
          transform: rotate(15deg);
        }

        #b3 {
          position: absolute;
          left: -235px;
          top: 244px;

          .radio-button__custom {
            background: #FF1A1A;
          }

          .radio-button__label {
            transition: all 0.3s ease-in-out;
            font-family: $gilroyMedium;
            font-weight: 500;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0.06em;
            padding-right: 20px;
          }
        }

        #b4 {
          position: absolute;
          left: -119px;
          top: 375px;
          transform: rotate(-15deg);
        }

        #b5 {
          position: absolute;
          left: -9px;
          top: 480px;
          transform: rotate(-30deg);
        }
      }
    }
  }

  .main-block2 {
    display: flex;
    height: 409px;
    background: url("/img/bgndForBlock1.svg"), #FFFFFF;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .blocks {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 1300px;
      height: 180px;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #232323;
      border-right: 1px solid #232323;

      .blocks__block {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 180px;

        h3 {
          color: #FF1A1A
        }

        h6 {
          color: $color2;
        }

        .p4 {
          width: 157px;
          text-align: center;
        }
      }
    }
  }

  .main-block3 {
    width: 1440px;
    height: 566px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: $background;

    .block {
      h2 {
        color: #F9F9F9;
      }
    }

    .blocks {
      display: flex;
      flex-direction: row;
      gap: 19px;

      .blocks__block {
        width: 204px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #F9F9F9;
        padding: 20px;
        position: relative;
        background: none;
        z-index: 1;

        .background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          svg {
            transition: all 0.5s ease-out;
            opacity: 0;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        .img {
          z-index: 1;
        }

        .blocks__block__body {
          z-index: 1;

          h6 {
            transition: all 0.5s ease-out;
            transform: translateY(12px);
          }

          .next {
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease-out;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .p6 {
              color: #F9F9F9;
            }

          }
        }
      }

      #id1 {
        transition: all .1s ease-out;

      }


      .blocks__block:hover {
        transition: all .1s ease-out 0s;
        width: 200px;
        height: 255px;
        margin-right: 2px;
        margin-left: 2px;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        cursor: pointer;

        .background {
          svg {
            transition: all 0.5s ease-out;
            opacity: 1;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;

          }
        }

        .blocks__block__body {


          h6 {
            transition: all .5s ease-out;
            transform: translateY(-12px);
          }

          .next {
            opacity: 1;
            visibility: visible;

          }
        }
      }
    }
  }

  .main-block4 {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 664px;
    justify-content: center;
    align-items: center;
    gap: 49px;
    background: url("/img/bgndForBlock2.svg"), #FFFFFF;

    .blocks {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;

      .blocks__block {
        width: 310px;
        height: 310px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        // .container1{
        //   display: block;
        //   // background: $background;
        //   height: 136px;
        //   width: 100%;

        // }
        .container1 {
          height: 132px;
          display: block;
          position: relative;

          .border1 {
            display: block;
            width: 340px;
            height: 3px;
            top: 64.66px;
            left: -16px;
            z-index: 1;
            position: absolute;
            background: #FF1A1A;
            transform: rotate(-23.08deg);
          }
        }

        .container3 {
          height: 132px;
          display: block;
          position: relative;

          .border1 {
            display: block;
            width: 340px;
            height: 3px;
            top: 64.66px;
            left: -16px;
            z-index: 1;
            position: absolute;
            background: #FF1A1A;
            transform: rotate(23.08deg);
          }
        }

        .container3::after {
          content: '';
          position: absolute;
          left: 0px;

          top: 0px;
          border: 132px solid transparent;
          border-left: 310px solid $background;
          border-bottom: 0 solid $background;
        }

        .container2 {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 0 0 15px 20px;
          background: $background;
          height: 159px;
          width: calc(100% - 20px);
          border-bottom: 3px solid #FF1A1A;
        }

        .container1::after {
          content: '';
          position: absolute;
          right: 0px;
          top: 0px;
          border: 132px solid transparent;
          border-right: 310px solid $background;
          border-bottom: 0 solid $background;
        }
      }
    }
  }

  .main-block5 {
    width: 1440px;
    height: 489px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: $background;

    h2 {
      color: #F9F9F9;
    }

    .blocks {
      position: relative;
      height: 303px;

      .blocks__button {
        position: absolute;
        left: -100px;
        top: 260px;
      }

      .blocks_block {
        .block {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
          position: absolute;

          .ellipse {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background: #F9F9F9;
            animation: light 6s linear infinite;

            svg {
              animation: fill 6s linear infinite;
            }

            svg path {
              animation: fill 6s linear infinite;
            }

          }
        }

        #block1 {
          left: -520px;
          top: 225px;

          .ellipse {
            animation-delay: 0s;

          }
        }

        #block2 {
          left: -490px;
          top: 80px;

          .ellipse {
            animation-delay: 1s;

          }
        }

        #block3 {
          left: 150px;
          top: 80px;

          .ellipse {
            animation-delay: 2s;

          }
        }

        #block4 {
          left: 240px;
          top: 230px;

          .ellipse {
            animation-delay: 3s;

          }
        }

        @keyframes light {
          0% {
            fill: black;
          }

          100% {
            fill: white;
          }
        }

        @keyframes light {
          0% {
            background-color: #F9F9F9;
            box-shadow: 0 0 7px #F9F9F9;
          }

          30% {
            background-color: #F9F9F9;
            box-shadow: 0 0 7px #FF1A1A;
          }

          60% {
            background-color: #FF1A1A;
            box-shadow: 0 0 13px #FF1A1A;
          }

          80% {
            background-color: #FF1A1A;
            box-shadow: 0 0 6px #FF1A1A;
          }

          100% {
            background-color: #F9F9F9;
            box-shadow: 0 0 3px #F9F9F9;
          }
        }
      }

      .img {
        position: absolute;
        top: 40px;
        right: -290px;
      }
    }
  }

  .main-block6 {
    color: #F9F9F9;
    font-size: 25px;
    width: 1440px;
    height: 489px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 80px 0 80px 0;
    background: url("/img/bgndForBlock3.svg"), #FFFFFF;

    h2 {
      color: #232323;
    }

    .list {
      height: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }

    .list li {
      list-style-type: none;

      width: 310px;
      height: 310px;

      position: absolute;
      left: 50%;
      margin-left: -300px;
      border-radius: 2px;
      background: $background;
      transition: transform 1s, opacity 1s;
    }

    .act {
      width: 640px !important;
      height: 350px !important;
    }

    .list .act {
      opacity: 1;

    }

    .list .prev,
    .list .next {
      cursor: pointer;
    }

    .list .prev {
      transform: translateX(-420px) scale(.85);
    }

    .list .next {
      transform: translateX(720px) scale(.85);
    }

    .list .hide {
      transform: translateX(-420px) scale(.85);
    }

    .list .new-next {
      transform: translateX(420px) scale(.85);
    }

    .list .hide,
    .list .new-next {
      opacity: 0;
      transition: opacity .5s, transform .5s;
    }

    .swipe {
      width: 270px;
      height: 200px;
      position: absolute;
      background-color: green;
      border-radius: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    .slider {
      color: #F9F9F9;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 350px;
      gap: 20px;
      justify-content: center;
      align-items: center;
      width: 1300px;



      .slider-1,
      .slider-2,
      .slider-3,
      .slider-4,
      .slider-5,
      .slider-6 {
        display: flex;
        width: 310px;
        height: 310px;
        background: $background;

        .block {
          padding: 30px;
          opacity: 0.5;
        }
      }

      .active {
        width: 640px;
        height: 350px;

        .block {
          opacity: 1 !important;
        }

      }
    }


  }

  .main-block7 {
    display: flex;
    width: 1440px;
    height: 834px;
    background: $background;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    //padding: 80px 0 80px 0;
    h2 {
      color: #F9F9F9;
    }

    .blocks {
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;
      align-items: center;
      width: 1300px;
      height: 480px;

      .blocks_block1 {
        display: flex;
        width: 640px;
        height: 480px;
        background: #F9F9F9;
        padding: 30px;
        justify-content: space-between;
        flex-direction: column;

        .blockInfo {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .blockInfoText {

            width: 549px;

            h6 {
              color: $color2;

            }
          }
        }

      }

      .blocks_block2 {
        display: flex;
        flex-wrap: wrap;
        display: row;
        gap: 20px;

        .block {
          display: flex;
          flex-direction: column;
          width: 280px;
          height: 220px;
          background: #F9F9F9;
          padding: 20px;
          justify-content: space-between;

          h6 {
            color: #232323;
          }
        }
      }
    }

  }

  .main-block8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 312px;
    gap: 40px;
    background: url("/img/bgndForBlock3.svg"),
      #FFFFFF;

    .title {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }

    h6 {
      color: $color2;
    }

    .button1 {
      width: 260px;
    }
  }

  .main-block9 {
    width: 1320px;
    height: 192px;
    display: flex;
    flex-direction: column;
    background: $background;
    padding: 60px;
    gap: 40px;

    .title {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2,
      h6 {
        color: #F9F9F9;
      }
    }

    .button1 {
      width: 253px;
      border: 1px solid #F9F9F9;
      color: #F9F9F9
    }

    .button1:hover {
      background: none;
    }
  }

  .main-block10 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 190px;
    background: url("/img/bgndForBlock3.svg"), #F9F9F9;

    .button1 {
      width: 605px;
      white-space: pre-wrap;
    }
  }
}