.main-container {

  display: flex;
  flex-direction: column;

  @include mobile {
    width: 100vw;
    //overflow: hidden;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .main-block {
    width: 1440px;
    height: 640px;
    display: flex;
    flex-direction: row;
    background-image: url("/img/bgnd.svg");


    @include mobile {
      width: 100%;
      height: 670px;
      overflow: hidden;
      flex-direction: column;
      justify-content: flex-end;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .main-block__block1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 70px;

      @include mobile {
        display: none;
        align-items: center;
        justify-content: flex-end;
      }

      .block {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 555px;
        flex-wrap: wrap;

        @include mobile {
          width: 325px;
        }

        h1 {
          color: #F9F9F9;

        }
      }

      .buttonForBid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 190px;
        height: 48px;
        background: #FF1A1A;

        .p5 {
          color: #F9F9F9
        }
      }
    }

    .main-block__block1Mob {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 45px;
      box-sizing: border-box;

      @include mobile {
        display: flex;
      }

      .block {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 555px;
        flex-wrap: wrap;

        @include mobile {
          width: 325px;
          align-items: center;
        }

        h1 {
          color: #F9F9F9;
          text-align: center;

        }
      }

      .buttonForBid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 190px;
        height: 48px;
        background: #FF1A1A;

        .p5 {
          color: #F9F9F9
        }
      }
    }

    .main-block__block2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 25px;
      align-items: center;

      .block {
        color: #F9F9F9;
      }

      @include mobile {
        display: none;
      }
    }

    .main-block__block3 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      @include mobile {
        align-items: flex-start;
      }

      .img {

        //position: relative;\
        @include mobile {
          // position: absolute;
          // top:100px;
          // left:380px;
          display: none;

        }
      }

      .img2 {
        display: none;

        @include mobile {
          display: flex;
          margin-top: 54px;
        }
      }

      .block {
        position: relative;

        .img1 {
          position: absolute;
          top: 204px;
          right: -273px;

          @include mobile {
            display: none;
          }
        }

        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;


        .radio-button__custom {
          width: 24px;
          height: 24px;
          background: #F9F9F9;
          border-radius: 50%;
          position: absolute;
          border: none;
          top: 0;

          @include mobile {
            width: 14px;
            height: 14px;
          }

          //left:110px;
        }

        #c1 {
          top: 36px;
          left: 85px;

          @include mobile {
            left: 43px;
            top: 85px;
          }
        }

        #c2 {
          top: 133px;
          left: 14px;

          @include mobile {
            top: 133px;
            left: 9px;
          }
        }

        #c3 {
          background: #FF1A1A !important;
          left: -10px;
          top: 243px;

          @include mobile {
            top: 200px;
            left: -5px;
          }
        }

        #c4 {
          left: 14px;
          top: 350px;

          @include mobile {
            top: 265px;
            left: 9px;
          }
        }

        #c5 {
          left: 95px;
          top: 440px;

          @include mobile {
            top: 310px;
            left: 43px;
          }
        }

        .block_block.move {
          opacity: 0;

        }

        .block_block {
          display: flex;
          flex-direction: row;
          //gap: 20px;
          justify-content: center;
          align-items: center;
          height: 20px;

          .radio-button__label {
            margin: 0;
            padding: 0;

            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            /* identical to box height, or 20px */

            letter-spacing: 0.06em;
            color: #F9F9F9;
            font-family: $gilroyRegular;

            @include mobile {
              font-weight: 400;
              font-size: 10px;
              line-height: 120%;
              /* identical to box height, or 12px */

              letter-spacing: 0.04em;
            }

            cursor: pointer;
            white-space: nowrap;

          }



          input[type="radio"] {
            display: none;
          }

          .p6 {
            color: $color1;
          }
        }

        .active {
          font-weight: 500;
          font-size: 24px;
          line-height: 140%;
          letter-spacing: 0.06em;
          font-family: $gilroyMedium;

        }

        #b1 {
          position: absolute;
          top: -10px;
          left: -35px;
          transform: rotate(31deg);

          @include mobile {
            left: -40px;
            top: 49px;
          }
        }

        #b2 {
          position: absolute;
          top: 112px;
          left: -120px;
          transform: rotate(18deg);

          @include mobile {
            top: 110px;
            left: -80px;

          }
        }

        #b3 {
          position: absolute;
          left: -235px;
          top: 244px;

          @include mobile {
            top: 197px;

          }

          .radio-button__custom {
            background: #FF1A1A;
          }

          .radio-button__label {
            transition: all 0.3s ease-in-out;
            font-family: $gilroyMedium;
            font-weight: 500;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0.06em;
            padding-right: 20px;
          }
        }

        #b4 {
          position: absolute;
          left: -119px;
          top: 375px;
          transform: rotate(-15deg);

          @include mobile {
            top: 281px;
            left: -99px;
          }
        }

        #b5 {
          position: absolute;
          left: -20px;
          top: 484px;
          transform: rotate(-37deg);

          @include mobile {
            top: 349px;
            left: -40px;
          }
        }
      }
    }
  }

  .main-block2 {
    display: flex;
    height: 409px;
    background: url("/img/bgndForBlock1.svg"), #FFFFFF;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include mobile {
      width: 100%;
      gap: 29px;
      height: 481px;
    }

    .blocks {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 1300px;
      height: 180px;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #232323;
      border-right: 1px solid #232323;

      @include mobile {
        box-sizing: border-box;
        gap: 5px;
        flex-wrap: wrap;
        width: 325px;
        height: 348px;
        //padding: 0 20px 0 20px;
      }

      .blocks__block {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 180px;

        @include mobile {
          gap: 5px;
          width: 155px;
          height: 104px;
        }

        h3 {
          color: #FF1A1A
        }

        h6 {
          color: $color2;
        }

        .p4 {
          width: 157px;
          text-align: center;
          text-decoration: none;
          color: #232323;

          @include mobile {
            white-space: pre-wrap;
            width: 111px;
          }
        }
      }
    }
  }

  .main-block3 {
    width: 1440px;
    height: 566px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: $background;

    @include mobile {
      width: 100%;

      height: 398px;
      gap: 35px;
      padding: 20px;
      box-sizing: border-box;

    }

    .block {
      @include mobile {
        position: relative;
      }

      h2 {
        color: #F9F9F9;
      }

      .tool {
        display: none;

        @include mobile {
          display: block;
          position: absolute;
          top: 5px;
          left: 290px;
          animation: move 2.2s linear infinite;

          @keyframes move {
            0% {
              left: 290px;
            }

            50% {
              left: 280px;
            }

            100% {
              left: 290px;
            }

          }
        }

      }
    }

    .blocks::-webkit-scrollbar {
      width: 200px;
      /* ширина для вертикального скролла */
      height: 2px;
      /* высота для горизонтального скролла */
      background-color: #858585;
    }

    .blocks::-webkit-scrollbar-thumb {
      background-color: #FF1A1A;
      border-radius: 9em;
      box-shadow: inset 1px 1px 10px #FF1A1A;
    }

    .blocks {
      display: flex;
      flex-direction: row;
      gap: 19px;

      @include mobile {
        gap: 15px;
        width: 100%;
        height: 214px;
        overflow-x: hidden;
        overflow: auto;


      }

      .blocks__block {
        width: 204px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #F9F9F9;
        padding: 20px;
        position: relative;
        background: none;
        z-index: 1;

        @include mobile {
          padding: 10px 15px;
          width: 170px !important;
          height: 185px;
          box-sizing: border-box;

        }

        .background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          svg {
            transition: all 0.5s ease-out;
            opacity: 0;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        .img {
          z-index: 1;
        }

        .blocks__block__body {
          z-index: 1;

          h6 {
            transition: all 0.5s ease-out;
            transform: translateY(12px);
          }

          .next {
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease-out;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .p6 {
              color: #F9F9F9;
            }

          }
        }
      }

      #id1 {
        transition: all .1s ease-out;

      }


      .blocks__block:hover {
        transition: all .1s ease-out 0s;
        width: 200px;
        height: 255px;
        margin-right: 2px;
        margin-left: 2px;
        z-index: 1;
        background: url("/img/bgnd_card.svg");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;

        @include mobile {
          padding: 10px 15px;
          width: 170px !important;
          height: 185px;
          box-sizing: border-box;
          margin-right: 0px;
          margin-left: 0px;
        }

        .background {
          @include mobile {
            display: none;
            width: 170px;
            height: 185px;
            object-fit: cover;
          }

          svg {
            transition: all 0.5s ease-out;
            opacity: 1;
            position: absolute;
            object-fit: cover;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @include mobile {
              width: 170px;
              height: 185px;
              object-fit: cover;
            }
          }
        }

        .blocks__block__body {


          h6 {
            transition: all .5s ease-out;
            transform: translateY(-12px);
          }

          .next {
            opacity: 1;
            visibility: visible;

          }
        }
      }
    }
  }

  .main-block4 {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 664px;
    justify-content: center;
    align-items: center;
    gap: 49px;
    background: url("/img/bgndForBlock2.svg"), #FFFFFF;

    @include mobile {
      width: 100%;
      height: 885px;
      gap: 35px;
    }

    .block {
      @include mobile {

        width: 325px;
        height: 58px;
        text-align: center;
      }

      h4 {

        white-space: pre-wrap;
        text-align: center;

      }
    }

    .blocks {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;

      @include mobile {
        flex-direction: column;
        gap: 15px;
      }

      .blocks__block:hover {
        .container2 {
          .p5 {
            transition: all 0.3s ease-in;
            opacity: 1;
            height: 22px;
          }
        }
      }

      .blocks__block {
        width: 310px;
        height: 310px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 0px;

        @include mobile {
          width: 325px;
          height: 140px;
        }

        // .container1{
        //   display: block;
        //   // background: $background;
        //   height: 136px;
        //   width: 100%;

        // }
        .container1 {
          height: 132px;
          display: block;
          position: relative;

          .border1 {
            display: block;
            width: 340px;
            height: 3px;
            top: 64.66px;
            left: -16px;
            z-index: 1;
            position: absolute;
            background: #FF1A1A;
            transform: rotate(-23.08deg);

            @include mobile {
              display: none;
            }
          }

          @include mobile {
            display: none;
          }
        }


        .container3 {
          height: 132px;
          display: block;
          position: relative;

          @include mobile {
            display: none;
          }

          .border1 {
            display: block;
            width: 340px;
            height: 3px;
            top: 64.66px;
            left: -16px;
            z-index: 1;
            position: absolute;
            background: #FF1A1A;
            transform: rotate(23.08deg);

            @include mobile {
              display: none;
            }
          }
        }

        .container3::after {
          content: '';
          position: absolute;
          left: 0px;

          top: 0px;
          border: 132px solid transparent;
          border-left: 310px solid $background;
          border-bottom: 0 solid $background;

          @include mobile {
            display: none;
            border: none;
            border-left: none;
          }
        }

        .container2 {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 0 0 15px 20px;
          background: $background;
          height: 159px;
          width: calc(100% - 20px);
          border-bottom: 3px solid #FF1A1A;
          gap: 10px;

          @include mobile {
            width: 325px;
            height: 140px;
            border: none;
          }

          .p5 {
            opacity: 0;
            height: 0;
            color: #F9F9F9;
          }
        }

        .container1::after {
          content: '';
          position: absolute;
          right: 0px;
          top: 0px;
          border: 132px solid transparent;
          border-right: 310px solid $background;
          border-bottom: 0 solid $background;

          @include mobile {
            display: none;
            border: none;
            border-left: none;
          }
        }
      }
    }
  }

  .main-block5 {
    width: 1440px;
    height: 489px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: $background;

    @include mobile {
      padding: 50px 0 50px 0;
      box-sizing: border-box;
      width: 100%;
      height: 480px;
      justify-content: flex-start;
      gap: 85px;
      position: relative;
    }

    h2 {
      color: #F9F9F9;
    }

    .blocks {
      position: relative;
      height: 303px;

      @include mobile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        min-height: 255px;
        position: absolute;
        top:150px;
        left:134px;
      }

      .img2 {

        display: none;

        @include mobile {
          display: block;

        }
      }

      .blocks__button {
        position: absolute;
        left: -100px;
        top: 260px;

        @include mobile {
          position: relative;
          top: 0;
          left: 0;
          padding-left: 5px;
        }
      }

      .blocks_block {
        .block {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
          position: absolute;

          @include mobile {
            gap: 10px;
          }

          .ellipse {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background: #F9F9F9;
            animation: light 6s linear infinite;

            @include mobile {
              width: 40px;
              height: 40px;

              svg {
                @include mobile {
                  width: 20px;
                  height: 20px;
                }
              }
            }

            svg path {
              animation: fill 6s linear infinite;
            }

          }
        }

        #block1 {
          left: -520px;
          top: 225px;

          @include mobile {
            left: -70px;
             top: 60px;

            h6 {
              width: 58px;
              height: 40px;

            }
          }

          .ellipse {
            animation-delay: 0s;

          }
        }

        #block2 {
          left: -490px;
          top: 80px;

          @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: 15px;
            top: -40px;

            h6 {
              white-space: nowrap;
              width: 156px;
             
            }
          }

          .ellipse {
            animation-delay: 1s;

            svg path {
              animation-delay: 0s !important;
              animation: fill 6s linear infinite;
            }
          }
        }

        #block3 {
          left: 150px;
          top: 80px;

          @include mobile {
            left: 150px;
            top: 60px;
          }

          .ellipse {
            animation-delay: 2s;

            svg path {
              animation-delay: 1s !important;
              animation: fill 6s linear infinite;
            }

          }
        }

        #block4 {
          left: 240px;
          top: 230px;
          h6{
            width: 139px;
            height: 56px;
          }
          @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: 5px;
            top: 150px;
            width: auto;


            h6 {
           
              white-space: nowrap;
              width: 177px;
              height: 20px;

              
            }
          }

          .ellipse {
            animation-delay: 3s;

            svg path {
              animation-delay: 2s !important;
              animation: fill 6s linear infinite;
            }

          }
        }

        @keyframes fill {
          0% {
            stroke: black;
          }

          50% {
            stroke: white;
          }

          100% {
            stroke: black;
          }

        }

        @keyframes light {
          0% {
            background-color: #F9F9F9;
            box-shadow: 0 0 7px #F9F9F9;
          }

          // 50%{
          //   background-color: #FF1A1A;
          //   box-shadow: 0 0 7px #F9F9F9;
          // }
          // 100%{
          // background-color: #F9F9F9;
          //}
          50% {
            background-color: #FF1A1A;
          }

          // 30% {
          //   background-color: #F9F9F9;
          //   //box-shadow: 0 0 7px #FF1A1A;
          // }

          // 60% {
          //   background-color: #FF1A1A;
          //   //box-shadow: 0 0 13px #FF1A1A;
          // }

          // 80% {
          //   background-color: #FF1A1A;
          //   //box-shadow: 0 0 6px #FF1A1A;
          // }

          100% {
            background-color: #F9F9F9;
            box-shadow: 0 0 3px #F9F9F9;
          }
        }
      }

      .img {
        position: absolute;
        top: 40px;
        right: -290px;

        @include mobile {
          display: none;
        }
      }
    }
  }

  .main-block6 {
    color: #F9F9F9;
    font-size: 25px;
    width: 1440px;
    height: 489px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 80px 0 80px 0;
    background: url("/img/bgndForBlock3.svg"), #FFFFFF;

    h2 {
      color: #232323;
    }

    .list {
      height: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }

    .list li {
      list-style-type: none;

      width: 310px;
      height: 310px;

      position: absolute;
      left: 50%;
      margin-left: -300px;
      border-radius: 2px;
      background: $background;
      transition: transform 1s, opacity 1s;
    }

    .act {
      width: 640px !important;
      height: 350px !important;
    }

    .list .act {
      opacity: 1;

    }

    .list .prev,
    .list .next {
      cursor: pointer;
    }

    .list .prev {
      transform: translateX(-420px) scale(.85);
    }

    .list .next {
      transform: translateX(720px) scale(.85);
    }

    .list .hide {
      transform: translateX(-420px) scale(.85);
    }

    .list .new-next {
      transform: translateX(420px) scale(.85);
    }

    .list .hide,
    .list .new-next {
      opacity: 0;
      transition: opacity .5s, transform .5s;
    }

    .swipe {
      width: 270px;
      height: 200px;
      position: absolute;
      background-color: green;
      border-radius: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    .slider {
      color: #F9F9F9;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 350px;
      gap: 20px;
      justify-content: center;
      align-items: center;
      width: 1300px;



      .slider-1,
      .slider-2,
      .slider-3,
      .slider-4,
      .slider-5,
      .slider-6 {
        display: flex;
        width: 310px;
        height: 310px;
        background: $background;

        .block {
          padding: 30px;
          opacity: 0.5;
        }
      }

      .active {
        width: 640px;
        height: 350px;

        .block {
          opacity: 1 !important;
        }

      }
    }


  }

  .main-block7 {
    display: flex;
    width: 1440px;
    height: 834px;
    background: $background;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    //padding: 80px 0 80px 0;
    h2 {
      color: #F9F9F9;
    }

    .blocks {
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;
      align-items: center;
      width: 1300px;
      height: 480px;

      .blocks_block1 {
        display: flex;
        width: 640px;
        height: 480px;
        background: #F9F9F9;
        padding: 30px;
        justify-content: space-between;
        flex-direction: column;

        .blockInfo {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .blockInfoText {

            width: 549px;

            h6 {
              color: $color2;

            }
          }
        }

      }

      .blocks_block2 {
        display: flex;
        flex-wrap: wrap;
        display: row;
        gap: 20px;

        .block {
          display: flex;
          flex-direction: column;
          width: 280px;
          height: 220px;
          background: #F9F9F9;
          padding: 20px;
          justify-content: space-between;

          h6 {
            color: #232323;
          }
        }
      }
    }

  }

  .main-block8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 312px;
    gap: 40px;
    background: url("/img/bgndForBlock3.svg"),
      #FFFFFF;

    .title {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }

    h6 {
      color: $color2;
    }

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 13px 35px 13px 35px;
      box-sizing: border-box;
      gap: 10px;
      width: 260px;
      height: 48px;
      border: 1px solid #FF1A1A;
      background: none;
      cursor: pointer;

      .p5 {
        color: #FF1A1A;
        white-space: nowrap;
      }
    }

    button:hover {
      transition: all 0.5s ease-in-out;
      background: #FF1A1A;

      .p5 {
        color: white;
      }

    }

    .button1 {
      width: 260px;
    }
  }

  .main-block9 {
    width: 1320px;
    height: 192px;
    display: flex;
    flex-direction: column;
    background: $background;
    padding: 60px;
    gap: 40px;

    .title {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2,
      h6 {
        color: #F9F9F9;
      }
    }

    .button1 {
      width: 253px;
      border: 1px solid #F9F9F9;

      .p5 {
        color: #F9F9F9 !important;
      }
    }

    .button1:hover {
      background: none;
    }
  }

  .main-block10 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 190px;
    background: url("/img/bgndForBlock3.svg"), #F9F9F9;

    .button1 {
      width: 605px;
      white-space: pre-wrap;
    }
  }
}