.main-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .main-blocks {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    width: 1440px;
    height: 3375px;
    padding: 41px 70px;
    background: url("/img/bgndForPage1.svg"), white;

    .main-block1 {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .path {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        .p1 {
          color: $color3;

        }

        .block1_block {
          display: flex;
          width: 5px;
          height: 5px;
          background: #FF1A1A;
          transform: rotate(45deg);
        }
      }

      .main-block1-cont {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .back {
          .p2 {
            color: $color4;
          }
        }

        .link {
          display: flex;
          flex-direction: row;
          gap: 10px;

          a {
            color: #004CA6;
          }
        }
      }
    }

    .main-block2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 20px;
      padding: 0px;
      gap: 20px;
      width: 1300px;
      box-sizing: border-box;
      .main-block2-cont1>.container2 {
        display: flex;
        width: 640px;
        height: 380px;
        background: url("/img/bgndForBlock5.svg");

      }

      .main-block2-cont2>.container2 {
        display: flex;
        width: 640px;
        height: 380px;
        background: url("/img/bgndForBlock6.svg");
      }
      .main-block2-cont1:not(:nth-child(1)),
      .main-block2-cont2:not(:nth-child(2)){
        padding-top: 20px !important;
      }
      .main-block2-cont1,
      .main-block2-cont2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px;
        gap: 20px;
        width: 640px;
        height: 455px;
        
        
        .container1 {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 0px;
          gap: 15px;
          width: 556px;
          height: 55px;
          white-space: nowrap;

          .circ {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 14px;
            gap: 10px;
            width: 55px;
            box-sizing: border-box;
            height: 55px;
            border: 1px solid #1D1E33;
            border-radius: 100px;

            h6 {
              color: #FF1A1A;
            }
          }
        }


      }

    }

  }
}