.main-invest{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;


     .main-blocks {
         box-sizing: border-box;
         display: flex;
         justify-content: flex-start;
         flex-direction: column;
         align-items: flex-start;
         gap: 80px;
         width: 1440px;
         height: 1547px;
         padding: 41px 70px;
         background: url("/img/bgndForPage1.svg"), white;
     }
}