.main-invest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .main-blocks {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 80px;
        width: 1440px;
        height: 1241px;
        padding: 41px 70px;
        background: url("/img/bgndForPage1.svg"), white;

        .main-block1 {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .path {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;

                .p1 {
                    color: #858585;

                }

                .block1_block {
                    display: flex;
                    width: 5px;
                    height: 5px;
                    background: #FF1A1A;
                    transform: rotate(45deg);
                }
            }

            .main-block1-blocks {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h1,
                .p2 {
                    color: #1D1E33;
                    text-decoration: none;
                }

                .blocks {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    align-items: center;

                    .border {
                        display: flex;
                        width: 1px;
                        height: 15px;
                        background: #1D1E33;
                    }

                    .p2 {
                        border-bottom: 1px solid #1D1E33;
                        cursor:pointer;
                    }
                }
            }
        }

        .main-block2 {
            display: flex;
            flex-direction: column;
            gap: 80px;

            .block2-cont1 {
                display: flex;
                flex-direction: column;
                gap: 35px;
                justify-content: center;
                align-items: center;

                .block1 {
                    display: flex;
                    width: 1300px;
                    height: 470px;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #1D1E33;

                    .block1_block1 {
                        display: flex;
                        background-image: url("/img/investYkt.svg");
                        width: 1250px;
                        height: 420px;

                        

                        .svg {
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            align-items: center;

                            svg {
                                width: 552px;
                                height: 60px;
                            }
                        }
                    }

                }
            }

            .block2-cont2 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 28px;
                width: 1300px;
                height: 184px;

            }

        }

    }
}