.main-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .main-blocks {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    width: 1440px;
    height: 1805px;
    padding: 41px 70px;
    background: url("/img/bgndForPage1.svg"), white;

    .main-block1 {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .path {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        .p6 {
          color: #858585;

        }

        .block1_block {
          display: flex;
          width: 5px;
          height: 5px;
          background: #FF1A1A;
          transform: rotate(45deg);
        }
      }

      .main-block1-blocks {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1,
        .p2 {
          color: #1D1E33;
          text-decoration: none;
        }

        .p1 {
          width: 1106px;
          height: 75px;
        }

        .blocks {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;

          .border {
            display: flex;
            width: 1px;
            height: 15px;
            background: #1D1E33;
          }

          .p2 {
            border-bottom: 1px solid #1D1E33;
          }
        }
      }
    }

    .main-block2 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;

      .block2-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        width: 1300px;
        
        padding: 0;

        .block2-blocks1 {
          display: flex;
          flex-direction: row;
          gap: 20px;

          .block2-cont:nth-child(1) {
            width: 860px;
            height: 520px;
            display: flex;
            flex-direction: column;
            padding: 30px;
            box-sizing: border-box;
            justify-content: space-between;
            background: #1D1E33;

            .p5,
            h5,
            .mh4 {
              color: white;
            }

            .cont1 {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
          }

          .block2-conts {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .block2-cont {
              display: flex;
              flex-direction: column;
              padding: 30px;
              box-sizing: border-box;
              justify-content: space-between;
              width: 420px;
              height: 250px;
              background: #1D1E33;

              .p5,
              h5,
              .mh4 {
                color: white;
              }

              .cont1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              }
            }
          }
        }



        .block2-blocks2 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 20px;

          .block2-cont {
            display: flex;
            flex-direction: column;
            padding: 30px;
            box-sizing: border-box;
            justify-content: space-between;
            width: 420px;
            height: 250px;
            background: #1D1E33;

            .p5,
            h5,
            .mh4 {
              color: white;
            }

            .cont1 {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
          }
        }

      }

      .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 30px;
        width: 536px;
        height: 40px;

        .links {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 0px;
          gap: 20px;
          height: 32px;

          a {
            width: 10px;
            height: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          a.active {
            border-bottom: 1px solid #1D1E33;

            .p2 {
              color: #1D1E33;
            }
          }

          .p2 {
            color: #858585;
            text-decoration: none;

          }
        }

        button {
          border: none;
          background: none;
          width: 40px;
          height: 40px;
          cursor: pointer;
          svg {
            path {
              fill: #FF1A1A;
            }
          }
        }
      }
    }

  }
}