.main-ter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .main-blocks {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    width: 1440px;
    min-height: 3697px;
    max-height: 4200px;
    height: auto;
    padding: 41px 70px;
    background: url("/img/bgndForPage1.svg"), white;

    .main-block1 {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .path {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        .p6 {
          color: $color3;

        }

        .block1_block {
          display: flex;
          width: 5px;
          height: 5px;
          background: #FF1A1A;
          transform: rotate(45deg);
        }
      }

      .main-block1-cont {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .back {
          width: 320px;
          height: 25px;
          white-space: nowrap;
          border-bottom: 1px solid #1D1E33;

          .p2 {
            color: #1D1E33;
            text-decoration: none;
          }
        }
      }
    }

    .main-block2 {


      .block2-cont1 {
        display: flex;
        flex-direction: row;
        align-items: center;

        .p1 {
          width: 930px;
          height: 325px;
        }
      }



    }

    .main-block3 {
      display: flex;
      flex-direction: column;
      gap: 25px;

      // .block3-cont1 {
      //   width: 1300px;
      //   display: flex;
      //   flex-direction: column;
      //   gap: 25px;
      // }
      .block3-cont2 {
        ol {
          padding: 0;
          margin-left: 19px;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        table {
          width: 1300px;
          height: 111px;
          border-collapse: collapse;

          tr {

            td {

              height: 54px;
              text-align: center;
              border: 1px solid #1D1E33;
            }
          }
        }

      }
    }

    .main-block4 {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 1299px;
      height: 375px;

      ul {
        margin-left: 19px;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 25px;
      }

    }

    .main-block5 {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .b_block{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        .button1 {
          width: 475px;
          height: 48px;
        }
      }
      
      .dropdown1 {
        position: relative;

        

        .dBlock1.active {
          opacity: 1;
          height: 50px;
          padding: 25px 25px 50px 25px;
        }

        .dBlock1 {
          display: flex;
          width: 1240px !important;
          height: 0;
          box-sizing: border-box;
          opacity: 0;

          .p1 {

            white-space: pre-wrap;

          }
        }

        .card__select {
          box-sizing: border-box;
          width: 1300px;
          height: 60px;
          display: flex;
          background: #1D1E33;
          justify-content: space-between;
          align-items: center;
          padding: 0 30px 0 30px;
          border: none;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          color: #FFFFFF;

          .user {
            color: #FFFFFF;

            padding: 0;
            margin: 0;

          }

          .imgRot {
            transform: rotate(-180deg);
          }

          .imgRot .rotate-180 {
            transform: rotate(-180deg);
            transition: transform 0.3s ease-in-out;
          }

          .imgRot .rotate-180-1 {
            transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
          }
        }

        p {
          margin: 0;
          padding: 0;
          top: -4px;
          position: absolute;
          font-weight: 400;
          font-size: 18px;
          line-height: 12px;

          color: #0078D2;



        }

        .dropdown-menu {
          position: absolute;
          z-index: 10;
          display: none;
          background: #1D1E33;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
          width: 100%;
          overflow-y: auto;
          box-sizing: border-box;
          padding: 10px 0 30px 0;
          overflow-y: scroll;
          height: 400px;

        }

        ::-webkit-scrollbar {
          width: 8px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px #F9F9F9;
          background: #F9F9F9;
          width: 8px;

        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          width: 8px;
          height: 98px;
          background: #FF1A1A;
        }

        .dropdown-menu.is-active {
          display: block;
        }

        .dropdown-content .dropdown-item {
          text-decoration: none;
          display: block;
          color: #FFFFFF;
          padding: 20px 30px 0px 30px;
          box-sizing: border-box;
        }


      }
    }
  }
}