footer
  .footer
    .footer-main
      .logo
        include ../../../static/img/logo1.svg 
      .footer-main__blocks 
        .footer-main__blocks__block 
          h6 Контакты
          .footer-main__blocks__block__container 
            include ../../../static/img/call.svg
            .p4 +7 (4112) 40-20-42
          .footer-main__blocks__block__container 
            include ../../../static/img/mail.svg
            .p4 info@investyakutia.com
        .footer-main__blocks__block
          .footer-main__blocks__block__container#block 
          .footer-main__blocks__block__container 
            include ../../../static/img/Location.svg
            .p4(style="width:369px;") Республика Саха (Якутия) 677000, г. Якутск, </br> ул. Орджоникидзе, д. 36/1, этаж 5, оф. 503
        .footer-main__blocks__block(style="") 
          h6 Cоциальные сети
          .footer-main__blocks__block__social
            include ../../../static/img/Vk.svg
            include ../../../static/img/Telegram.svg
            include ../../../static/img/Odnoklasniki.svg
      .footer-main__blocks2
        .footer-line
        .footer-info
          .p6 2021-2023г. Все права защищены.
          .p6 Политика конфиденциальности 
          .dev 
            .p6 Разработан в
            include ../../../static/img/logoPlatforma.svg
        .footer-info1
          .p6 Политика конфиденциальности 
          .dev 
            .p6 2021-2023г. Все права защищены.
            .p6 Разработан в
              include ../../../static/img/logoPlatforma.svg
