.container-modalMenu2
  .modal-content2
    .modal-content-container
      .modal-content-header__container 
        button.close-modal
          include ../../../static/img/exit2.svg
      .modal-content-main 
        h2 ОБРАТНАЯ СВЯЗЬ
        .links
          a(href="/contact_us.html")
            .p4 Свяжитесь с нами
          a(href="/leave_feedback.html")
            .p4 Оставить отзыв
          a(href="#")
            .p4 Полезные ссылки
          a(href="/straight_line.html")
            .p4 Прямая линия с Главой Республики Саха (Якутия)
          a(href="/complaint.html")
            .p4 Подать жалобу на контрольно-надзорные органы 
        .img
          include ../../../static/img/bgndForModal.svg