.container-modalMenu3
  .modal-content3
    .modal-content-container
      .modal-content-header__container 
        button.close-modal
          include ../../../static/img/exit2.svg
      .modal-content-main 
        h2 ОТКЛИКНУТЬСЯ НА ПРОЕКТ
        .links
          a(href="#")
            .p4 Авторизоваться через Госуслуги
          a(href="/respond_project.html")
            .p4 Заполнить в ручную
        .img
          include ../../../static/img/bgndForModal.svg