.container-modalMenu
  .modal-content
    .modal-content-container
      .modal-content-header
        .modal-content-header__container 
          include ../../../static/img/logo1.svg
          button.close-modal
            include ../../../static/img/exit.svg
      .modal-content-main 
        .modal-content-blocks 
          .modal-content-block__search
            input(type="text" name="search" placeholder="Поиск")
            button.buttonForHeader 
              include ../../../static/img/search.svg
          .modal-content-block 
            .modal-content-block__list
              h6 О ЯКУТИИ
              .modal-content-block__list__links
                a(href="#").p4 Стратегия социально-экономического развития Республики Саха (якутия)
                a(href="#").p4 Экономические показатели региона
                a(href="#").p4 География и климат 
                a(href="#").p4 Общество 
                a(href="#").p4 Туризм и культура 
                a(href="#").p4 Муниципальные образования 
                a(href="#").p4 Инвестиционные уполномоченные  
            .modal-content-block__list
              h6 ИНВЕСТСТАНДАРТ
              .modal-content-block__list__links
                a(href="#").p4 Об инвестклимате
                a(href="#").p4 Координационный совет по предпринимательству при Главе РС(Я)
                a(href="#").p4 Решение проектного офиса по улучшению инвестклимата
                a(href="#").p4 Оценка инвестклимата 
                a(href="#").p4 Содействие развитию конкуренции на территории РС(Я)
            .modal-content-block__list
              h6 ИНВЕСТКЛИМАТ
              .modal-content-block__list__links
                a(href="#").p4 Инвестиционная декларация
                a(href="#").p4 Инвестиционная карта
                a(href="#").p4 Свод инвестиционных правил
                a(href="#").p4 Инвестиционный комитет
                a(href="#").p4 Агентство
          .modal-content-block 
            .modal-content-block__list
              h6 ИНВЕСТОРУ
              .modal-content-block__list__links
                a(href="#").p4 Календарь мероприятий
                a(href="#").p4 Меры государственной поддержки
                a(href="#").p4 Инвестиционная инфраструктура
                a(href="#").p4 Система оценки качества инфраструктуры 
                a(href="#").p4 Институты развития
                a(href="#").p4 Порядок обращения для инвесторов
                a(href="#").p4 Полезные ресурсы 
            .modal-content-block__list
              h6 ИНВЕСТИЦИОННЫЕ ПРОЕКТЫ
              .modal-content-block__list__links
                a(href="#").p4 Агропромышленный комплекс
                a(href="#").p4 Социальная сфера
                a(href="#").p4 Транспорт и логистика
                a(href="#").p4 Туризм 
                a(href="#").p4 Лесопромышленный комплекс
                a(href="#").p4 Жилищно-коммунальное хозяйство
                a(href="#").p4 Строительный комплекс
            .modal-content-block__list
              .modal-content-block__list__blocks
                .modal-content-block__list__blocks__block
                  h6 МЕДИА
                  .modal-content-block__list__links
                    a(href="#").p4 Журнал InvestYakutia
                    a(href="#").p4 Новости
                    a(href="#").p4 Пресс-служба
                .modal-content-block__list__blocks__block
                  h6 ОБРАТНАЯ СВЯЗЬ
                  .modal-content-block__list__links
                    a(href="#").p4 Прямая линия с Главой Республики Саха (Якутия)
                    a(href="#").p4 Свяжитесь с нами