.orbit 
    .img1
        include ../../../static/img/ellipse.svg
        .logo
            include ../../../static/img/orbit_logo.svg 
    .block1 
        label.block_block#b1
        input(type="radio" name="radio" value='option1')
        span.radio-button__label Подать заявку
        .radio-button__custom           
    .block2
        label.block_block#b2
        input(type="radio" name="radio" value='option2')   
        span.radio-button__label Инвесткарта
        .radio-button__custom         
    .block3
        label.block_block#b3
        input(type="radio" name="radio" value='option3' ) 
        span.radio-button__label  Инвестплощадки
        .radio-button__custom          
    .block4
        label.block_block#b4
        input(type="radio" name="radio" value='option4')
        span.radio-button__label Меры поддержки
        .radio-button__custom 
    .block5
        label.block_block#b5
        input(type="radio" name="radio" value='option5') 
        span.radio-button__label Задать вопрос
        .radio-button__custom 