extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
  - var title = "Об агенстве";

block page
    .main-ag
        include ../chunk/blocks/header.pug
        .main-blocks
            .main-block1
                .path 
                    .p1 Главная
                    .block1_block 
                    .p1 Инвестстандарт
                    .block1_block 
                    .p1 Агентство
                    .block1_block 
                    .p1 Об Агентстве 
                .main-block1-blocks      
                    .blocks 
                        a(href="/agency.html").p2 Агентство
                    h1 ОБ АГЕНТСТВЕ
            .main-block2
                .block2-cont1
                    .block1
                        .block1_block1
                            .svg
                                include ../../static/img/logo2.svg
                .block2-cont2 
                  h2 История
                  .p1 Агентство по привлечению инвестиций и поддержке экспорта Республики Саха (Якутия) было создано для представления Якутии на российских и международных рынках. Инвесторы могут обращаться в агентство по любым вопросам, связанным с инвестиционной деятельностью в республике: от предоставления информации для подготовки бизнес планов до оказания содействия при реализации проектов.
                .block2-cont3 
                  h2 Цели
                  .p1 Основной целью деятельности агентства является привлечение инвестиций в республику, снижение административных барьеров, формирование и продвижение положительного инвестиционного имиджа республики.
                .block2-cont4 
                  h2 Учредительные документы
                  .cont4-blocks
                    .cont4-block 
                      include ../../static/img/File_light.svg
                      .p1 Распоряжение Главы Республики Саха (Якутия) от 8 апреля 2013 года № 260-РП "О создании государственного бюджетного </br>учреждения "Агентство инвестиционного развития Республики Саха (Якутия)".
                    .cont4-block
                      include ../../static/img/File_light.svg
                      .p1 Устав ГБУ "Агентство по привлечению инвестиций и поддержке экспорта РС(Я)"
                    .cont4-block
                      include ../../static/img/File_light.svg
                      .p1 Приказ №209-од о внесении изменений в Устав ГБУ "Агентство по привлечению инвестиций и поддержке экспорта РС(Я)" 
                .block2-cont5 
                  h2 Сейчас
                  .p1 Основной целью деятельности агентства является привлечение инвестиций в республику, снижение административных барьеров, формирование и продвижение положительного инвестиционного имиджа республики.
        include ../chunk/blocks/footer.pug