extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
  - var title = "О ЯКУТИИ";

block page
    .main-about
        include ../chunk/blocks/header.pug
        .main-blocks1 
            .main-blocks1-block1
                .p1 Главная 
                .block1_block
                .p1 О якутии 
            .main-blocks1-block2
                h1 О ЯКУТИИ
                .block2_blocks 
                    .block1 
                        .p2 Стратегия социально-экономического развития Республики Саха (Якутия)
                    .block2 
                        .p2 Экономические показатели региона
                        .border
                        .p2 География и климат
                        .border
                        .p2 Общество
                    .block3
                        .p2 Туризм и культура
                        .border
                        a.p2(href="/municipalities.html") Муниципальные образования 
                    .block4 
                        a.p2(href="/investmentComm.html") Инвестиционные уполномоченные
            .main-blocks1-block3
                h6 «Следует отметить, что высококачественный прототип будущего проекта выявляет срочную потребность форм воздействия»
                .border
                h6 Николаев Айсен Сергеевич
                .p4 Глава Республики Саха (Якутия)
            +button2('Прямая линия с Главой Республики')
        .main-blocks2
            .main-blocks2-block
                h3 Заголовок 1
                .p1 Наше дело не так однозначно, как может показаться: базовый вектор развития обеспечивает актуальность вывода текущих активов. Как уже неоднократно упомянуто, действия представителей оппозиции призывают нас к новым свершениям, которые, в свою очередь, должны быть объединены в целые кластеры себе подобных! Следует отметить, что высококачественный прототип будущего проекта выявляет срочную потребность форм воздействия. Но ключевые особенности структуры проекта могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
                .blocks
                    .blocks__block 
                        h3 1
                        h6 Место
                        .p4 Лидер по ВРП по Дальнему Востоку
                    .blocks__block
                        h3 2
                        h6 Место
                        .p4 Национальный инвестиционный рейтинг
                    .blocks__block 
                        h3 100
                        h6 Место
                        .p4 Человеческий капитал
                    .blocks__block 
                        h3 3
                        h6 Место
                        .p4 Инновационное развитие
                    .blocks__block 
                        h3 56
                        h6 Место
                        .p4 Природно ресурсный потенциал
                    .blocks__block 
                        h3 1
                        h6 Место
                        .p4 Индекс промышленного производства 
            .main-blocks3-block
                .blocks_block2
                    h3 Заголовок 2        
                    .p1 Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний лишь добавляют фракционных разногласий и ограничены исключительно образом мышления! Но повышение уровня гражданского сознания способствует подготовке и реализации распределения внутренних резервов и ресурсов.
                .blocks_block3 
                    include ../../static/img/img.svg
            .main-blocks3-block
                .blocks_block3 
                    include ../../static/img/img.svg 
                .blocks_block2
                    h3 Заголовок 3        
                    .p1 Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний лишь добавляют фракционных разногласий и ограничены исключительно образом мышления! Но повышение уровня гражданского сознания способствует подготовке и реализации распределения внутренних резервов и ресурсов.
            .main-blocks3-block
                .blocks_block2
                    h3 Заголовок 4        
                    .p1 Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний лишь добавляют фракционных разногласий и ограничены исключительно образом мышления! Но повышение уровня гражданского сознания способствует подготовке и реализации распределения внутренних резервов и ресурсов.
                .blocks_block3 
                    include ../../static/img/img.svg
            .main-blocks3-block
                .main-blocks3-block-container
                    .blocks_block4
                        h3 Заголовок 5        
                    .blocks_block5
                        .video 
        include ../chunk/blocks/footer.pug