extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
  - var title = "Координационный совет по препринимательству при главе РС(Я)";

block page
  .main-advice
    include ../chunk/blocks/header.pug
    .main-blocks
      .main-block1
        .path 
          .p1 Главная
          .block1_block
          .p1 Инвестклимат
          .block1_block 
          .p1 Координационный совет по препринимательству при главе РС(Я)
        .main-block1-blocks      
          .blocks 
            a(href="/invest_climate.html").p2 Инвестклимат
          h1 КООРДИНАЦИОННЫЙ СОВЕТ ПО ПРЕДПРИНИМАТЕЛЬСТВУ ПРИ ГЛАВЕ РС(Я)
      .main-block2
        
        .block2-cont1
          .img_snip
            include ../../static/img/Question.svg
          .block2-snip
            .b 
            .block 
              .p4 Выбериет год для просмотра нужной вам информации
          .block2_tabs

            a(class="mh1 active" data-block-id="block1" href="#") 2023
            a(class="mh1" data-block-id="block2" href="#") 2022
            a(class="mh1" data-block-id="block3" href="#") 2021
            a(class="mh1" data-block-id="block4" href="#") 2020
            a(class="mh1" data-block-id="block5" href="#") 2019
            a(class="mh1" data-block-id="block6" href="#") 2018
            a(class="mh1" data-block-id="block7" href="#") 2017
            a(class="mh1" data-block-id="block8" href="#") 2016
            a(class="mh1" data-block-id="block9" href="#") 2015
        .block2Tabs_blocks
          #block1.block2_block1.active
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2023 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2023 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2023 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2023 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2023 года
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2023 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2023 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2023 г.
          #block2.block2_block1
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2022 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2022 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2022 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2022 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2022 года
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2022 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2022 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2022 г.
          #block3.block2_block1
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2021 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2021 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2021 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2021 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2021 года
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2021 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2021 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2021 г.
          #block4.block2_block1
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2020 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2020 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2020 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2020 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2020 года
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2020 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2020 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2020 г.
          #block5.block2_block1
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2019 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2019 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2019 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2019 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2019 года
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2019 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2019 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2019 г.
          #block6.block2_block1
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2018 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2018 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2018 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2018 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2018 года
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2018 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2018 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2018 г.
          #block7.block2_block1
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2017 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2017 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2017 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2017 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2017 года
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2017 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2017 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2017 г.
          #block8.block2_block1
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2016 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2016 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2016 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2016 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2016 года
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2016 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2016 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2016 г.
          #block9.block2_block1
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2015 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2015 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2015 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2015 года
            .block 
              include ../../static/img/File_light.svg
              .p1.pb1 Информация о ходе исполнения Протокола № 1 расширенного заседания Координационного Совета по предпринимательству при 
                | Главе Республики Саха (Якутия) от 23 января 2015 года
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2015 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2015 г.
            .block 
              include ../../static/img/File_light.svg
              .p1 Протокол заседания Координационного Совета от 11.04.2015 г.


    include ../chunk/blocks/footer.pug