extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
    - var title = "Строительство современного энергосберегающего работизированного ЖВК";

block page
    .main-roboto
        include ../chunk/blocks/header.pug
        .main-blocks
            .main-block1
                .path 
                    .p6 Главная
                    .block1_block 
                    .p6 Инвестиционные проекты
                    .block1_block 
                    .p6 Агропромышленный комплекс
                    .block1_block 
                    .p6 Строительство современного энергосберегающего работизированного ЖВК          
                .main-block1-blocks      
                    .blocks 
                        a(href="/agency.html").p2 Агропромышленный комплекс
                    h1 Строительство современного энергосберегающего работизированного ЖВК
                    .p1 Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний лишь добавляют фракционных разногласий и ограничены исключительно образом мышления! Но повышение уровня гражданского сознания способствует подготовке и реализации распределения внутренних резервов и ресурсов.
            .main-block2
                .block2-conts 
                    .cont1
                        .h3
                            h3(style="color:#FF1A1A;") 29 
                            h3(style="color:#1D1E33;") ЕД 
                        .p4 Количество проектов
                    .cont2
                        .h3
                            h3(style="color:#FF1A1A;") 3.15 
                            h3(style="color:#1D1E33;") МЛН ₽
                        .p4 Стоимость проектов
                    .cont3
                        .h3
                            h3(style="color:#FF1A1A;") 3.07 
                            h3(style="color:#1D1E33;") МЛН ₽  
                        .p4 Обьем требуемых инвестиций  
                //.img
            .main-block3
                .sliders
                    .sld 
                        .slide 
                            h5 Изображени 3
                        .slide.active 
                            h5 Изображение 1
                        .slide
                            h5 Изображени 3
                    //#viewport 
                        .slider
                            .slide 1
                            .slide.active 2
                            .slide 3
                            .slide 4
                            .slide 5
                    .scroll
                        button(id="prev").prev 
                            include ../../static/img/arrow_l_slider.svg
                        #viewSlider 
                            .viewSlide 
                            .viewSlide 
                            .viewSlide 
                            .viewSlide 
                            
                    
                        
                        button(id="next").next
                            include ../../static/img/arrow_r_slider.svg
            .main-block4 
                h2 Параметры
                .p1 Объем производстства: 7200т/г мяса (свинина) в живом весе; Не менее 50 000 тыс. откормочных голов в год; 2 000 голов свиноматочного поголовья на товарной ферме, не менее 300 свиноматочных голов в племенном репродукторе; 6 000 голов товарного молодняка для реализации населению.
            .main-block5 
                .block5-cont1
                    h2 Инвестор
                    li.p1 Администрация муниципального образования «Анабарский национальный (долганоэвенкийский) улус (район)»
                    li.p1 Администрация муниципального образования «Анабарский национальный (долганоэвенкийский) улус (район)»
                    li.p1 Администрация муниципального образования «Анабарский национальный (долганоэвенкийский) улус (район)»                
                .border
                .block5-cont2 
                    h2 Местность
                    li.p1 Мегино-Кангаласский район
                    li.p1 Мегино-Кангаласский район
                    li.p1 Мегино-Кангаласский район
            .but
                +button1('Откликнуться на проект','#')
        include ../chunk/blocks/footer.pug