extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
    - var title = "Инвестиционные проекты";

block page
    .main-agro
        include ../chunk/blocks/header.pug
        .main-blocks
            .main-block1
                .path 
                    .p1 Главная
                    .block1_block 
                    .p1 Инвестиционные проекты
                    .block1_block 
                    .p1 Агропромышленный комплекс       
                .main-block1-blocks      
                    .blocks 
                        a(href="/agency.html").p2 Агентство
                    h1 Агропромышленный комплекс
                    .p1 Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний лишь добавляют фракционных разногласий и ограничены исключительно образом мышления! Но повышение уровня гражданского сознания способствует подготовке и реализации распределения внутренних резервов и ресурсов.
            .main-block2
                .block2-conts 
                    .cont1
                        .h3
                            h3(style="color:#FF1A1A;") 29 
                            h3(style="color:#1D1E33;") ЕД 
                        .p4 Количество проектов
                    .cont2
                        .h3
                            h3(style="color:#FF1A1A;") 3.15 
                            h3(style="color:#1D1E33;") МЛН ₽
                        .p4 Стоимость проектов
                    .cont3
                        .h3
                            h3(style="color:#FF1A1A;") 3.07 
                            h3(style="color:#1D1E33;") МЛН ₽  
                        .p4 Обьем требуемых инвестиций  
                //.img
            .main-block3
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Мегино-Кангаласский район
                        include ../../static/img/arrow_right.svg
                    h5 Создание сельскохозяйственного </br> кластера в Республики  Саха (Якутия)
                    .p4 Задача организации, в особенности же выбранный нами инновационный путь прекрасно подходит для реализации приоретизации разума над эмоциями. 
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Городской округ г. Якутск
                        include ../../static/img/arrow_right.svg
                    h5 Создание агропромышленного </br> комплекса с убойный пунктом в г. Якутске
                    .p4 Создание агропромышленного комплекса по переработке мяса, включающего убойный пункт в целях обеспечения населения высококачественной продукцией 
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Мегино-Кангаласский район
                        include ../../static/img/arrow_right.svg
                    h5 Строительство современного </br> энергосберегающего работизированного ЖВК
                    .p4 Строительство инновационного животноводческого комплекса на 260 голов КРС со шлейфом с уникальными преимуществами
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Хангаласский район
                        include ../../static/img/arrow_right.svg
                    h5 Строительство инновационного </br> молочного ЖВК на 3500 голов
                    .p4 Обеспечение центральной части республики свежей и качественной молочной продукцией, в т.ч. детским питанием. Демонстрация современных эффективных технологий в молочном животноводстве.
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Мегино-Кангаласский район
                        include ../../static/img/arrow_right.svg
                    h5 Строительство оптово-распределительного </br> центра “Нижний Бестях”
                    .p4 Цель проекта организовать эффективную систему оказания логистических услуг по рационализации процесса приемки товаров от производителя, без размещения
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 г. Якутск
                        include ../../static/img/arrow_right.svg
                    h5 Развитие кожевенного производства
                    .p4 Модернизация текущего производства: замена и ремонт оборудования, приобретение технологически нового промышленного оборудования
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Мегино-Кангаласский район
                        include ../../static/img/arrow_right.svg
                    h5 Создание центра по производству меда в </br> Мегино-Кангаласском районе 
                    .p4 Реализация проекта будет способствовать созданию образцового центра медовой промышленности на национальном уровне
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 с. Саскылах. Анабарского района
                        include ../../static/img/arrow_right.svg
                    h5 Строительство круглогодичного тепличного </br> комплекса в Анабарском районе
                    .p4 Реализация проекта будет способствовать круглогодичному обеспечению овощной продукцией местного населения
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Мегино-Кангаласский район
                        include ../../static/img/arrow_right.svg
                    h5 Строительство круглогодичного тепличного </br> комплекса в Мегино-Кангаласском районе 
                    .p4 Реализация проекта будет способствовать круглогодичному обеспечению овощной продукцией местного населения
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Кентикский наслег Верхневилюского района
                        include ../../static/img/arrow_right.svg
                    h5 Строительство круглогодичного тепличного </br> комплекса в Верхневилюйском районе 
                    .p4 Реализация проекта будет способствовать круглогодичному обеспечению овощной продукцией местного населения
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Мирнинский район
                        include ../../static/img/arrow_right.svg
                    h5 Развитие аквакультуры </br> (товарного рыбоводства)
                    .p4 Проект предусматривает: 1) Строительство нового автономного корпуса современной технологии установок УЗВ для разведения Сибирского осетра Ленской популяции в п. Чернышевский Мирнинского района Республики Саха (Якутия);
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Городской округ г. Якутск
                        include ../../static/img/arrow_right.svg
                    h5 Строительство рыбохозяйственного </br> комплекса индустриальной аквакультуры ООО “Ленская рыба” 
                    .p4 Целью проекта является создание интегрированного предприятия индустриальной аквакультуры торговой марки...
                .block3-cont1
                    .cont1-text
                        .loc
                            include ../../static/img/loc.svg
                            .p1 Мирнинский район
                        include ../../static/img/arrow_right.svg
                    h5 Мониторинг овцебыка в акртических </br> районах Якутии
                    .p4 Современная оценка численности, территориального распределения и состояния овцебыка на территории Республики Саха (Якутия).



        include ../chunk/blocks/footer.pug