extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
  - var title = "Пресс-центр";

block page
  .main-det
    include ../chunk/blocks/header.pug
    .main-blocks
      .main-block1
        .path 
          .p6 Главная
          .block1_block 
          .p6 Медиа
          .block1_block 
          .p6 Новости
          .block1_block 
          .p6 Ученые создали нейросеть для помощи инвесторам     
        .main-block1-blocks 
          .blocks 
            a(href="/news.html").p2 Новости
          h1 Ученые создали нейросеть для помощи инвесторам

      .main-block2
        .block1
          .block1_block1
            .svg
              include ../../static/img/logo2.svg
        .p1 Неподалеку от Якутска осенью откроется новый туристский комплекс, стилизованный под ямщицкую станцию. Инвестиционный проект реализует компания «СахаТур» в статусе резидента территории опережающего развития (ТОР) «Якутия» по соглашению с Корпорацией развития Дальнего Востока и Арктики (КРДВ). Объем частных вложений превысит 28 млн рублей.
            </br></br> «Мы хотим предложить гостям Якутии еще одну возможность для знакомства с нашим суровым, но удивительным краем. Построим круглогодичный туркомплекс и будем принимать всех желающих, несмотря на продолжительный «мертвый» сезон, который у нас бывает из-за природно-климатических условий. А так как ямщицкая культура сегодня одна из ярких страниц истории Якутии, для оформления объекта мы выбрали стиль ям – почтовых станций, которые располагались вдоль знаменитого Иркутско-Якутского ямщицкого тракта, служившего для перевозки грузов и почты во времена царской России. Тем, кого не пугают аномальные холода, и кто хочет побывать в сердце настоящей зимы, или, скажем, отправиться в речной круиз к Синским или Ленским столбам, предложим комфортное размещение, накормим, по желанию организуем экскурсии и праздники», - рассказала директор ООО «СахаТур» Наталья Храмцова.
            </br></br> Проект разместится на площади 2,3 га в селе Старая Табага, неподалеку от Якутска. Инвестор уже готов на выделенном земельном участке начать строительство 10 гостевых комфортабельных домиков типа глэмпинг, деревянной бани и ресторана. Туркомплекс будет газифицирован, что позволит принимать гостей круглогодично. Благодаря быстровозводимому домостроению и уже полученным техусловиям запуск нового объекта гостеприимства планируется осенью 2023 года.
            </br></br> Напомним, на Дальнем Востоке и в Арктике с помощью преференциальных режимов строятся гостиничные и этнографические комплексы и базы отдыха, горнолыжные курорты и глэмпинги, разрабатываются уникальные туристские маршруты, развивается инфраструктура, создаются новые точки притяжения для путешественников.
            </br></br> «Инвесторы принимают активное участие в развитии туристского потенциала макрорегиона – каждый десятый из более чем 3 тыс. проектов относится к сфере туризма, всего – более 400 проектов. Общий объем заявленных инвестиций в этом сегменте составляет около 195 млрд рублей, создается почти 16 тыс. рабочих мест», - отметила заместитель директора инвестиционного департамента КРДВ Мария Бадмацыренова.
            </br></br> По данным КРДВ Якутия, на ТОР «Якутия» 42 резидента реализуют проекты с общим объемом заявленных инвестиций в 16,2 млрд рублей, рассчитанные на трудоустройство 2 тыс. местных жителей. В настоящее время инвесторы реализовали 15 проектов и вложили в экономику республики 6 млрд рублей, на новых предприятиях получат работу 700 якутян.
        .border 
        .block2 
          .block2-cont1  
            .p3 Дата создания:
            .p1 28.02.2023
          .block2-cont2
            .p3 Поделиться в соц.сети:
            .icon 
              a 
                include ../../static/img/vk_grey.svg
              a 
                include ../../static/img/tg_grey.svg
              a 
                include ../../static/img/od_grey.svg
              a 
                include ../../static/img/whats_grey.svg
    include ../chunk/blocks/footer.pug