extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles


block page
  .main
    include ../chunk/blocks/header.pug
    .main-container
      .main-block
        .main-block__block1
          .block 
            h1 ЗАГОЛОВОК
            a.buttonForBid 
              .p5 Подать заявку

        .main-block__block2
          .block 
            .p3 09:30
          include ../../static/img/spl.svg

        .main-block__block3
          //include ../chunk/components/orbit.pug
          .block
            .img1
              include ../../static/img/orbit_logo.svg
               
            span.radio-button__custom#c1
            span.radio-button__custom#c2
            span.radio-button__custom#c3
            span.radio-button__custom#c4
            span.radio-button__custom#c5
            label.block_block#b1
              input(type="radio" name="radio" value='option1')
              span.radio-button__label Подать заявку 
            

            label.block_block#b2
              input(type="radio" name="radio" value='option2')   
              span.radio-button__label Инвесткарта 
            

            label.block_block#b3
              input(type="radio" name="radio" value='option3' ) 
              span.radio-button__label  Инвестплощадки 
              

            label.block_block#b4
              input(type="radio" name="radio" value='option4')
              span.radio-button__label Меры поддержки 
            

            label.block_block#b5
              input(type="radio" name="radio" value='option5') 
              span.radio-button__label Задать вопрос
            

          .img
            include ../../static/img/ellipse.svg
      .main-block2
        .block
          h4 СИЛА ЯКУТИИ
        .blocks
          .blocks__block 
            h3 1
            h6 Место
            .p4 Лидер по ВРП по Дальнему Востоку
          .blocks__block
            h3 2
            h6 Место
            .p4 Национальный инвестиционный рейтинг
          .blocks__block 
            h3 100
            h6 Место
            .p4 Человеческий капитал
          .blocks__block 
            h3 3
            h6 Место
            .p4 Инновационное развитие
          .blocks__block 
            h3 56
            h6 Место
            .p4 Природно ресурсный потенциал
          .blocks__block 
            h3 1
            h6 Место
            .p4 Индекс промышленного производства
      .main-block3 
        .block 
          h2 ИНВЕСТСТАНДАРТ
        .blocks
          .blocks__block#id1
            .background 
              include ../../static/img/bgnd_card.svg 
            .img 
              include ../../static/img/book.svg
            .blocks__block__body 
              h6 Инвестиционная декларация 
              .next 
                .p6 Перейти
                include ../../static/img/arrow.svg
          .blocks__block
            .background 
              include ../../static/img/bgnd_card.svg  
            .img 
              include ../../static/img/map.svg
            .blocks__block__body 
              h6 Инвестиционная карта
              .next 
                .p6 Перейти
                include ../../static/img/arrow.svg
          .blocks__block
            .background 
              include ../../static/img/bgnd_card.svg  
            .img 
              include ../../static/img/humans.svg
            .blocks__block__body 
              h6 Инвестиционный комитет
              .next 
                .p6 Перейти
                include ../../static/img/arrow.svg
          .blocks__block
            .background 
              include ../../static/img/bgnd_card.svg  
            .img 
              include ../../static/img/bookmarket.svg
            .blocks__block__body 
              h6 Свод инвестиционных правил 
              .next 
                .p6 Перейти
                include ../../static/img/arrow.svg
          .blocks__block
            .background 
              include ../../static/img/bgnd_card.svg  
            .img 
              include ../../static/img/home.svg
            .blocks__block__body 
              h6 Агентство
              .next 
                .p6 Перейти
                include ../../static/img/arrow.svg
      .main-block4 
        .block 
          h2 ИНВЕСТИЦИОННЫЕ ПРОЕКТЫ
        .blocks
          .blocks__block
            .container1
              .border1 
            .container2
              h6 Агропромышленный комплекс
          .blocks__block
            .container3
              .border1 
            .container2
              h6 Социальная сфера
          .blocks__block
            .container1
              .border1 
            .container2
              h6 Транспорт и логистика
          .blocks__block
            .container3
              .border1 
            .container2
              h6 Туризм
        +button1('Все проекты')
      .main-block5 
        h2 ОДНО ОКНО
        .blocks 
          .img 
            include ../../static/img/ellipse2.svg
          .blocks_block
            .block#block1 
              h6 Подача заявки
              .ellipse 
                include ../../static/img/time3.svg
            .block#block2 
              h6 Расcмотрение заявки
              .ellipse
                include ../../static/img/pen.svg
            .block#block3
              .ellipse
                include ../../static/img/time3.svg 
              h6 Решение  
            .block#block4
              .ellipse 
                include ../../static/img/refresh.svg 
              h6 Подписание </br> соглашения 
          .blocks__button
            +button2('Подать заявку')
      .main-block6
        h2 ИСТОРИЯ УСПЕХА
        .slider
          .slider-1
            .block 
              h5 Проект
              .p4 Краткий текст проекта, объясняющий о чем этот проект    
          .slider-2.active
            .block
              h5 Проект номер 1
              .p4 Краткий текст проекта, объясняющий о чем этот проект   
          .slider-3
            .block 
              h5 Проект
              .p4 Краткий текст проекта, объясняющий о чем этот проект

        //- <ul class="list">
        //-   <li class="hide">биба1</li>
        //-   <li class="prev">биба2</li>
        //-   <li class="act">биба3</li>
        //-   <li class="next">биба4</li>
        //-   <li class="next new-next">биба5</li>
        //- </ul>

        //- <div class="swipe"></div>
        +button1('Все проекты','/invest_projects.html')
        <script src="https://hammerjs.github.io/dist/hammer.js"></script>
      .main-block7 
        h2 НОВОСТИ
        .blocks 
          .blocks_block1
            .blockDate
              .p4 16.02.2023
            .blockInfo 
              .blockInfoTitle 
                h5 Новость номер 1
              .blockInfoText 
                h6 Краткий текст новости, объясняющий о чем этот проект   
          .blocks_block2 
            .block
              .p6 16.02.2023
              h6 Новость номер 2 
            .block
              .p6 16.02.2023
              h6 Новость номер 3  
            .block
              .p6 16.02.2023
              h6 Новость номер 4 
            .block 
              .p6 16.02.2023
              h6 Новость номер 5 
        +button2('Все новости')
      .main-block8
        .title 
          h2 ОБРАТНАЯ СВЯЗЬ
          h6 Свяжитесь с нами
        +button1('Отправить сообщение')
      .main-block9 
        .title 
          h2 ГОС УСЛУГИ
          h6 Напишите нам 
        +button1('Написать о проблеме')
      .main-block10 
        +button1('Направить обращение в аппарат полномочного представителя Президента РФ в ДФО')
    include ../chunk/blocks/footer.pug

