extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
    - var title = "Инвестиционные проекты";

block page
    .main-projects
        include ../chunk/blocks/header.pug
        .main-blocks
            .main-block1
                .path 
                    .p1 Главная
                    .block1_block 
                    .p1 Инвестиционные проекты       
                .main-block1-blocks      
                    h1 Инвестиционные проекты
                    .p1 Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний лишь добавляют фракционных разногласий и ограничены исключительно образом мышления! Но повышение уровня гражданского сознания способствует подготовке и реализации распределения внутренних резервов и ресурсов.
            .main-block2
                a.block2-cont1(href="/agro_complex.html")
                    .cont1-text
                        h5 Агропромышленный </br>комплекс
                        include ../../static/img/arrow_right.svg
                    .p4 Задача организации, в особенности же выбранный нами инновационный путь прекрасно подходит для реализации приоретизации разума над эмоциями. 
                .block2-cont1
                    .cont1-text
                        h5 Социальная сфера
                        include ../../static/img/arrow_right.svg
                    .p4 Задача организации, в особенности же выбранный нами инновационный путь прекрасно подходит для реализации приоретизации разума над эмоциями.     
                .block2-cont1
                    .cont1-text
                        h5 Транспорт и логистика
                        include ../../static/img/arrow_right.svg
                    .p4 Задача организации, в особенности же выбранный нами инновационный путь прекрасно подходит для реализации приоретизации разума над эмоциями. 
                .block2-cont1
                    .cont1-text
                        h5 Туризм
                        include ../../static/img/arrow_right.svg
                    .p4 Задача организации, в особенности же выбранный нами инновационный путь прекрасно подходит для реализации приоретизации разума над эмоциями. 
                .block2-cont1
                    .cont1-text
                        h5 Лесопромышленный </br> комплекс
                        include ../../static/img/arrow_right.svg
                    .p4 Задача организации, в особенности же выбранный нами инновационный путь прекрасно подходит для реализации приоретизации разума над эмоциями. 
                .block2-cont1
                    .cont1-text
                        h5 Жилищно-коммунальное </br>хозяйство
                        include ../../static/img/arrow_right.svg
                    .p4 Задача организации, в особенности же выбранный нами инновационный путь прекрасно подходит для реализации приоретизации разума над эмоциями. 
                .block2-cont1
                    .cont1-text
                        h5 Строительный комплекс
                        include ../../static/img/arrow_right.svg
                    .p4 Задача организации, в особенности же выбранный нами инновационный путь прекрасно подходит для реализации приоретизации разума над эмоциями. 
       
       
       
       
        include ../chunk/blocks/footer.pug