extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
  - var title = "Свод инвестиционных правил";

block page
  .main-rules
    include ../chunk/blocks/header.pug
    .main-blocks
      .main-block1
        .path 
          .p1 Главная
          .block1_block 
          .p1 Инвестстандарт 
          .block1_block
          .p1 Свод инвестиционных правил 
        .main-block1-cont 
          .back 
            a.p2(href="/investstandart.html") Инвестстандарт
          h1 Свод инвестиционных правил
          .link
            .p1 Свод инвестиционных правил утвержден:
            a.p1(href="#") Перечнем Поручений Главы Республики Саха (Якутия) от 04 июля 2022 года №Пр-786-А1.
      .main-block2
        .main-block2-cont1
          .container1
            .circ
              h6 1
            .p1 Подключение к электрическим сетям до 150 кВИ   
          .container2 
        .main-block2-cont2
          .container1
            .circ
              h6 2
            .p1 Подключение к электрическим сетям до 150 кВИ 
          .container2
        .main-block2-cont1
          .container1
            .circ
              h6 3
            .p1 Подключение к электрическим сетям до 150 кВИ   
          .container2 
        .main-block2-cont2
          .container1
            .circ
              h6 4
            .p1 Подключение к электрическим сетям до 150 кВИ 
          .container2
        .main-block2-cont1
          .container1
            .circ
              h6 5
            .p1 Подключение к электрическим сетям до 150 кВИ   
          .container2 
        .main-block2-cont2
          .container1
            .circ
              h6 6
            .p1 Подключение к электрическим сетям до 150 кВИ 
          .container2
        .main-block2-cont1
          .container1
            .circ
              h6 7
            .p1 Подключение к электрическим сетям до 150 кВИ   
          .container2 
        .main-block2-cont2
          .container1
            .circ
              h6 8
            .p1 Подключение к электрическим сетям до 150 кВИ 
          .container2
        .main-block2-cont1
          .container1
            .circ
              h6 9
            .p1 Подключение к электрическим сетям до 150 кВИ   
          .container2 
        .main-block2-cont2
          .container1
            .circ
              h6 10
            .p1 Подключение к электрическим сетям до 150 кВИ 
          .container2
        .main-block2-cont1
          .container1
            .circ
              h6 11
            .p1 Подключение к электрическим сетям до 150 кВИ   
          .container2 
    include ../chunk/blocks/footer.pug