extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
  - var title = "Инвестору";

block page
    .main-investor
        include ../chunk/blocks/header.pug
        .main-blocks
            .main-block1
                .path 
                    .p1 Главная
                    .block1_block 
                    .p1 Инвестору 
                .main-block1-blocks 
                    h1 ИНВЕСТОРУ
                    .blocks
                        a.p2(href="/event_calendar.html") Календарь мероприятий
                        .border 
                        a.p2(href="#") Меры государственной поддержки
                        .border 
                        a.p2(href="/investor_infrastructure.html") Инвестиционная инфраструктура
                    .blocks
                        .p2 Система оценки качества инфраструктуры
                        .border 
                        .p2 Интституты развития
                        .border 
                        .p2 Порядок обращения для инвесторов
                        .border 
                        .p2 Полезные ресурсы


            .main-block2
                .block2-cont1
                    .block1
                        .block1_block1
                            .svg
                                include ../../static/img/logo2.svg
                    .block2 
                        h5 «Инвестиционный климат – как вектор развития региона»
                .block2-cont2
                    h2 Что нужно знать инвестору
                    p.p1  На инвестиционный климат влияют различные факторы: бедность, преступность, инфраструктура, участие рабочей силы, 
                      | национальная безопасность, политическая нестабильность, неопределённость режима, налоги, верховенство закона, имущественные 
                      | права, правительственные постановления, прозрачность правительства и подотчётность правительства и другие.
                      | Факторы, влияющие на инвестиционную привлекательность региона, делят на мягкие и жёсткие (которые изменить невозможно или это 
                      | трудоёмко). К мягким относят нормативную и законодательную базу, финансовое и налоговое стимулирование, коммуникацию между 
                      | властью и бизнесом, профессиональную поддержку бизнеса и административные процессы. К жёстким — географическое положение, 
                      | hприродные ресурсы, физическая инфраструктура, доступность качественного человеческого капитала и объём внутреннего рынка
        include ../chunk/blocks/footer.pug