extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
    - var title = "Муниципальное образование";

block page
    .main-mun
        include ../chunk/blocks/header.pug
        .main-blocks
            .main-block1
                .path 
                    .p1 Главная
                    .block1_block 
                    .p1 О якутии 
                    .block1_block
                    .p1 Муниципальные образования
                .main-block1-cont 
                    .back 
                        a.p2(href="/about_yakutia.html") О Якутии
                    h1 Муниципальные образования
            .main-block2
                h2 Район
                .dropdown
                    .dropdown-trigger
                        button(aria-controls="dropdown-menu" aria-haspopup="true").card__select  

                            .user.p1 Городской округ «Город Якутск»
                            .imgRot
                                include ../../static/img/arrow_small.svg
                    .dropdown-menu#dropdown-menu(role='menu')
                        .dropdown-content
                            a.dropdown-item(id="1") 
                                .p1 МР «Абыйский улус»
                            a.dropdown-item 
                                .p1 МО «Алданский район»
                            a.dropdown-item 
                                .p1 МО «Аллаиховский улус»
                            a.dropdown-item 
                                .p1 МО «Анабарский национальный (долгано-эвенкийский) улус»
                            a.dropdown-item 
                                .p1 МО «Булунский улус»
                            a.dropdown-item 
                                .p1 МР «Верхневилюйский улус»
                            a.dropdown-item 
                                .p1 МР «Верхнеколымский улус»
                            a.dropdown-item 
                                .p1 МО «Верхоянский район»
                            a.dropdown-item(value="2") 
                                .p1 МР «Абыйский улус»
                            a.dropdown-item 
                                .p1 МО «Алданский район»
                            a.dropdown-item 
                                .p1 МО «Аллаиховский улус»
                            a.dropdown-item 
                                .p1 МО «Анабарский национальный (долгано-эвенкийский) улус»
                            a.dropdown-item 
                                .p1 МО «Булунский улус»
                            a.dropdown-item 
                                .p1 МР «Верхневилюйский улус»
                            a.dropdown-item 
                                .p1 МР «Верхнеколымский улус»
                            a.dropdown-item 
                                .p1 МО «Верхоянский район»
            div(class="tab active") 
                .main-block3 
                    .main-block3-cont1 
                        h4 Город якутск
                        .p1 Столица Республики Саха (Якутия). Расположена в долине Туймаада на левом берегу реки Лены, в среднем её течении и занимает площадь 122 кв. км. Граничит с Горным, Мегино-Кангаласским, Намским, Хангаласским улусами.
                            </br></br>Один из крупнейших портов на реке Лене и самый крупный город, расположенный в зоне вечной мерзлоты.
                            </br></br> Начинает историю с 25 сентября 1632 года, когда отряд енисейского сотника Петра Бекетова, обследуя берега реки Лены, заложил Якутский (Ленский) острог на правом берегу реки в 70 км ниже по течению от места расположения современного Якутска. В 1642-1643 гг. острог был перенесён на современное место. Переименован в Якутск в 1643 году.
                            </br></br> В состав городского округа «Город Якутск» входят села Маган, Табага, Старая Табага, Хатассы, Тулагино, Капитоновка, Кильдямцы, Сырдах, Пригородный, Владимировка. Включает административные округа: Автодорожный, Гагаринский, Губинский, Октябрьский, Промышленный, Сайсарский, Строительный, Центральный и микрорайоны : Марха, Кангалассы.
                            </br></br> Численность населения на 1 января 2022 года – 357698 человек.
                            </br></br> Рельеф равнинный. На территории города имеется много пойменных озер и стариц, крупнейшими из которых являются: Сайсары, Теплое, Талое, Хатынг-Юрях, Сергелях.
                            </br></br> Средняя температура января: -42 ºС, июля: +19 ºС.
                            </br></br> Город Якутск – административно-политический, экономический, культурный и научный центр Республики Саха (Якутия). Развиты промышленное производство, строительство, многие виды транспорта, сформирован потребительский рынок. Якутск – крупнейший транспортный узел республики.
                            </br></br> Структуру органов местного самоуправления городского округа «город Якутск» составляют: Якутская городская Дума, глава городского округа «город Якутск», Окружная администрация города Якутска, Контрольно-счетная палата города Якутска.
                        .cont1-foot
                            .p4 Дата создания: 25-05-2021
                            .p4 Дата последнего изменения: 13-10-2022
                    .main-block3-cont2
                        .cont2-block1
                            include ../../static/img/ykt.svg
                            .p3 ГО «ГОРОД ЯКУТСК»
                        .cont2-blocks
                            .cont2-block
                                .p3 Документы:
                                .p1 Инвестиционный паспорт 2017
                            .cont2-block
                                .p3 Сайт
                                a(href="https://yakutskcity.ru").p1 https://yakutskcity.ru
                            .cont2-block
                                .p3 Поделиться в соц.сети:
                                .cont2-block-blocks 
                                    include ../../static/img/vk2.svg
                                    include ../../static/img/tg.svg
                                    include ../../static/img/od.svg
                                    include ../../static/img/wp.svg
            div(class="tab") 
                .main-block3
                    .main-block3-cont1 
                        h4 МР «АБЫЙСКИЙ УЛУС (РАЙОН)»
                        .p1 Образован 25 мая 1930 года. Площадь – 69,4 тыс. кв. км. Расположен на северо-востоке республики за Северным полярным кругом и граничит с Аллаиховским, Верхнеколымским, Момским, Среднеколымским и Усть-Янским улусами.
                            </br></br> В составе 5 наслегов: Абыйский, Майорский, Мугурдахский, Уолбутский, Урасалахский и административный центр – поселок Белая Гора.
                            </br> </br>Численность населения на 1 января 2023 года – 3786 человек.
                            </br> </br>Через территорию улуса протекает судоходная река Индигирка. В улусе тысячи озер, самое крупное из них – Ожогино, которое занимает 5 место среди озер Якутии.
                            </br> </br>Рельеф улуса разнообразный: здесь и равнинная местность с хвойной и лиственной древесиной, горные массивы, тундровая плоскость. Средняя температура января: -40,7 °С, июля: + 14 °С.
                            </br> </br>Основная отрасль современного Абыя – сельскохозяйственное производство, клеточное звероводство, добыча пушнины и рыболовство.

                        .cont1-foot
                            .p4 Дата создания: 25-05-2021
                            .p4 Дата последнего изменения: 13-10-2022
                    .main-block3-cont2
                        .cont2-block1
                            .img
                                include ../../static/img/gerb_abyisky_rayon.svg
                            .p3 МР «АБЫЙСКИЙ УЛУС (РАЙОН)»
                        .cont2-blocks
                            .cont2-block
                                .p3 Документы:
                                .p1 Инвестиционный паспорт 2017
                            .cont2-block
                                .p3 Сайт
                                a(href="https://mr-abyjskij.sakha.gov.ru/").p1 https://mr-abyjskij.sakha.gov.ru/
                            .cont2-block
                                .p3 Поделиться в соц.сети:
                                .cont2-block-blocks
                                    a 
                                        include ../../static/img/vk2.svg
                                    a
                                        include ../../static/img/tg.svg
                                    a   
                                        include ../../static/img/od.svg
                                    a   
                                        include ../../static/img/wp.svg
        include ../chunk/blocks/footer.pug