extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
    - var title = "Новости";

block page
    .main-news
        include ../chunk/blocks/header.pug
        .main-blocks
            .main-block1
                .path 
                    .p6 Главная
                    .block1_block 
                    .p6 Медиа
                    .block1_block 
                    .p6 Новости       
                .main-block1-blocks 
                    .blocks 
                        a(href="/media.html").p2 Медиа
                    h1 Новости                    
            .main-block2
              .block2-body
                .block2-blocks1
                  a.block2-cont(href="/detailed_news.html") 
                    .cont1 
                      .p5 Последние новости 
                      .p5 28.02.2023
                    .cont2 
                      h5 Ученые создали новую нейросеть для помощи инвесторам
                  .block2-conts
                    a.block2-cont(href="#")
                      .mh6 28.02.2023
                      .mh4 Новость 2
                    a.block2-cont(href="#")
                      .mh6 28.02.2023
                      .mh4 Новость 3 
                .block2-blocks2
                  a.block2-cont(href="#")
                    .mh6 28.02.2023
                    .mh4 Новость 4 
                  a.block2-cont(href="#")
                    .mh6 28.02.2023
                    .mh4 Новость 5 
                  a.block2-cont(href="#")
                    .mh6 28.02.2023
                    .mh4 Новость 6 
                  a.block2-cont(href="#")
                    .mh6 28.02.2023
                    .mh4 Новость 7 
                  a.block2-cont(href="#")
                    .mh6 28.02.2023
                    .mh4 Новость 8 
                  a.block2-cont(href="#")
                    .mh6 28.02.2023
                    .mh4 Новость 9 
                  a.block2-cont(href="#")
                    .mh6 28.02.2023
                    .mh4 Новость 10 
                  a.block2-cont(href="#")
                    .mh6 28.02.2023
                    .mh4 Новость 11 
                  a.block2-cont(href="#")
                    .mh6 28.02.2023
                    .mh4 Новость 12 
             
                    
                //.img
              .pagination 
                button 
                  include ../../static/img/arrow_l_slider.svg
                .links 
                  a.active
                    .p2(href="#") 1
                  a
                    .p2(href="#") 2
                  a
                    .p2(href="#") 3
                  a
                    .p2(href="#") 4
                  a.p2(href="#") 5
                  a.p2(href="#") 6
                  a.p2(href="#") 7
                  a.p2(href="#") 8
                button 
                  include ../../static/img/arrow_r_slider.svg
            .main-block3

            
                
        include ../chunk/blocks/footer.pug