extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
  - var title = "Статичная страница";

block page
  .main-static
    include ../chunk/blocks/header.pug
    .main-blocks
      .main-block1
        .path 
          .p6 Главная
          .block1_block 
          .p6 Страница
          .block1_block 
          .p6 Страница 1     
        .main-block1-blocks 
          .blocks 
            a(href="#").p2 Предыдущая страница
          h1 Статичная страница                  
      .main-block2
        h2 Заголовок 1
        .p1 В целях оперативного решения проблем и вопросов, возникающих в процессе инвестиционной деятельности, Вы всегда можете обратиться к нам через Инвестиционный портал InvestYakutia.com
      .main-block3 
        .block1
          .block1_block1
            .svg
              include ../../static/img/logo2.svg
        h5 Какой то текст на ваше усмотрение
      .main-block5 
        h2 Заголовок 2
        .p1 На инвестиционный климат влияют различные факторы: бедность, преступность, инфраструктура, участие рабочей силы, национальная безопасность, политическая нестабильность, неопределённость режима, налоги, верховенство закона, имущественные права, правительственные постановления, прозрачность правительства и подотчётность правительства и другие.
            | Факторы, влияющие на инвестиционную привлекательность региона, делят на мягкие и жёсткие (которые изменить невозможно или это трудоёмко). К мягким относят нормативную и законодательную базу, финансовое и налоговое стимулирование, коммуникацию между властью и бизнесом, профессиональную поддержку бизнеса и административные процессы. К жёстким — географическое положение, природные ресурсы, физическая инфраструктура, доступность качественного человеческого капитала и объём внутреннего рынка
      .main-block4 
        .block4-conts1
          .conts1-cont1 
            h4 Вы можете задать интересующий </br> Вас вопрос просто заполнив форму
            .p1 Наш менеджер свяжется с Вами в течение одного рабочего дня
          form.conts1-cont2 
            .input 
              .p1 ФИО <div style="color:#FF1A1A;">*</div>
              input.input_body(placeholder="Иванов Иван Иванович" required)
            .input 
              .p1 Компания
              input.input_body(placeholder="Например: Apple")
            .input 
              .p1 Телефон
              input#phone.input_body(placeholder="Например: +7(999)-123-23-32")
            .input 
              .p1 E-mail <div style="color:#FF1A1A;">*</div>
              input.input_body(placeholder="Например: Password123412@gmail.com" required)
            .textarea 
              .p1 Ваше сообщение <div style="color:#FF1A1A;">*</div>
              textarea(name="" cols="30" rows="10").textarea_body(placeholder="Введите сообщение" required)
            .supports__files__container__block

            .file 
              .p1 Прикрепить файл
              label.file_body   
                input(type='file' id='file-input' accept='.txt, .pdf, .doc, .docx' onchange='handleFileUpload(this)')
                label(for='file-input').l 
                  .p1 Прикрепить файл
                span(class="js-value1")
                .img 
                  include ../../static/img/paper.svg
              //label.file_body
                .p1 Прикрепить файл
                .img 
                  include ../../static/img/paper.svg
            .checkbox 
              .checkbox_cont
                input(type="checkbox" id="checkbox_t")
                label.checkbox_body(for="checkbox_t")
                  .check
              .p1 Даю согласие на обработку персональных данных*
            .dang 
              .p4 <div style="color:#FF1A1A;">*</div>обязательно для заполнения
            +button1('Отправить')
        .border
        .block4-conts2
          h4 Социальные сети Главы Республики Саха (Якутия)

          .cont1-body 
            a(href="#") 
              include ../../static/img/vk_grey.svg
              .p1 vk.com
            a(href="#") 
              include ../../static/img/od_grey.svg
              .p1 ok.ru
            a(href="#") 
              include ../../static/img/tg_grey.svg
              .p1 t.me
      .main-block5 
        h2 О Якутии
        .p1 Якутия... Здесь природа создала удивительные чудеса: от алмазов и золота в глубоких недрах до стремящихся к синему небу Ленских столбов. Природные богатства Якутии питают около трети алмазной индустрии мира, наполняют экспортные нефте- и газотранспортные артерии «Восточная Сибирь – Тихий океан» и «Сила Сибири», широко используются в мировом производстве. Сегодня Якутия – это регион высокого качества жизни, высоких технологий, Якутия, нацеленная на внешние рынки и реализацию проектов с высокой долей добавленной стоимости, Якутия, в которой хочется жить и в которую хочется переехать за драйвом и новыми возможностями. Мы сохраняем древние традиции предков, бесценный опыт и культуру народов Якутии, чтобы передать их будущему поколению. Мы чтим традиции и открыто идем вперед! Якутия… тёплый инвестиционный климат на вечной мерзлоте. Мы – согреем! Инвестируй в Якутию! Инвестируй в будущее!
      .main-block6 
        .block2-cont4 
            h2 Документы
            .cont4-blocks
              a.cont4-block(href="#") 
                include ../../static/img/File_light.svg
                .p1 Распоряжение Главы Республики Саха (Якутия) от 8 апреля 2013 года № 260-РП "О создании государственного бюджетного </br>учреждения "Агентство инвестиционного развития Республики Саха (Якутия)".
              a.cont4-block(href="#") 
                include ../../static/img/File_light.svg
                .p1 Устав ГБУ "Агентство по привлечению инвестиций и поддержке экспорта РС(Я)"
              a.cont4-block(href="#") 
                include ../../static/img/File_light.svg
                .p1 Приказ №209-од о внесении изменений в Устав ГБУ "Агентство по привлечению инвестиций и поддержке экспорта РС(Я)" 

    include ../chunk/blocks/footer.pug