extends ../layout/app
include ../chunk/components/button2.pug
include ../chunk/components/button1.pug
block styles
block vars
  - var title = "Территории опережающего развития";

block page
  .main-ter
    include ../chunk/blocks/header.pug
    .main-blocks
      .main-block1
        .path 
          .p6 Главная
          .block1_block 
          .p6 Инвестору 
          .block1_block
          .p6 Инвестиционная инфраструктура
          .block1_block
          .p6 Территории опережающего развития
        .main-block1-cont 
          .back 
            a.p2(href="/investor_infrastructure.html") Инвестиционная инфраструктура
          h1 Территории опережающего развития
      .main-block2
        .block2-cont1 
          .p1 Территория опережающего социально-экономического развития (ТОСЭР) – часть территории субъекта Российской Федерации, на которой в соответствии с решением Правительства Российской Федерации установлен особый правовой режим осуществления предпринимательской и иной деятельности в целях формирования благоприятных условий для привлечения инвестиций, обеспечения ускоренного социально-экономического развития и создания комфортных условий для обеспечения жизнедеятельности населения. Резидентами территорий опережающего развития могут быть индивидуальные предприниматели и юридические лица, заключившие с управляющей компанией соглашение об осуществлении деятельности на данной территории. Для них предусмотрен особый налоговый режим и облегченные правила ведения бизнеса: ставка налога на прибыль не более 5% в течение первых пяти лет, уменьшенные социальные взносы, может быть предусмотрено освобождения от налога на недвижимость, таможенные преференции. ТОСЭР «Якутия»
          include ../../static/img/investMap.svg

      .main-block3 
        h2 ТОСЭР «Якутия»
        .block3-cont1
          .p1 Расстояние от ТОCЭР до международного аэропорта «Якутск» по автомобильной дороге – 33 км; до морских портов: Владивосток – 3154 км, Ванино – 2896 км, Магадан – 1718 км, Тикси – 1694 км. Ближайшие жилые дома находятся на расстоянии 50 м от границы ТОР.
          </br></br>
          .p1 Резиденты могут оформить земельные участки без процедуры торгов, бесплатно подключиться к инженерным сетям, получить таможенные и миграционные преференции. Предусмотрены налоговые льготы:
        .block3-cont2 
          ol
            li.p1 Заявительный порядок возмещения НДС. Зачет (возврат) суммы налога, заявленной к возмещению в налоговой декларации, до завершения камеральной налоговой проверки.
            li.p1 Налоговая ставка по налогу на прибыль в федеральный бюджет – 0% в течение 5 налоговых периодов, начиная с налогового периода, в котором была получена первая прибыль. Налоговая ставка по налогу в бюджет субъектов РФ – не более 5% в течение 5 налоговых периодов, начиная с налогового периода, в котором была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений на ТОСЭР, и не может быть менее 10% в течение следующих 5 налоговых периодов.
            li.p1 НДПИ. Применение понижающего коэффициента, характеризующего территорию добычи полезного ископаемого (КТД 1) принимается равным:
          table 
            tr 
              td 
                .p1 Год 
              td 
                .p1 1
              td 
                .p1 2
              td 
                .p1 3
              td 
                .p1 4
              td 
                .p1 5
              td 
                .p1 6
              td 
                .p1 7
              td 
                .p1 8
              td 
                .p1 9
              td 
                .p1 10
              td 
                .p1 11 и далее     
            tr 
              td 
                .p1 Ктд 
              td(colspan='2') 
                .p1 0
              td(colspan='2')  
                .p1 0,2
              td(colspan='2') 
                .p1 0,4
              td(colspan='2') 
                .p1 0,6
              td(colspan='2') 
                .p1 0,8
              td(colspan='2')  
                .p1 1
          ol(start="4")
            li.p1 Тарифы страховых взносов в сумме составляют 7,6 %.
      .main-block3 
        h2 ТОСЭР «Якутия»
        .block3-cont1
          .p1 Расстояние от ТОCЭР до международного аэропорта «Якутск» по автомобильной дороге – 33 км; до морских портов: Владивосток – 3154 км, Ванино – 2896 км, Магадан – 1718 км, Тикси – 1694 км. Ближайшие жилые дома находятся на расстоянии 50 м от границы ТОР.
          </br></br>
          .p1 Резиденты могут оформить земельные участки без процедуры торгов, бесплатно подключиться к инженерным сетям, получить таможенные и миграционные преференции. Предусмотрены налоговые льготы:
        .block3-cont2 
          ol
            li.p1 Заявительный порядок возмещения НДС. Зачет (возврат) суммы налога, заявленной к возмещению в налоговой декларации, до завершения камеральной налоговой проверки.
            li.p1 Налоговая ставка по налогу на прибыль в федеральный бюджет – 0% в течение 5 налоговых периодов, начиная с налогового периода, в котором была получена первая прибыль. Налоговая ставка по налогу в бюджет субъектов РФ – не более 5% в течение 5 налоговых периодов, начиная с налогового периода, в котором была получена первая прибыль от деятельности, осуществляемой при исполнении соглашений на ТОСЭР, и не может быть менее 10% в течение следующих 5 налоговых периодов.
            li.p1 НДПИ. Применение понижающего коэффициента, характеризующего территорию добычи полезного ископаемого (КТД 1) принимается равным:
          table 
            tr 
              td 
                .p1 Год 
              td 
                .p1 1
              td 
                .p1 2
              td 
                .p1 3
              td 
                .p1 4
              td 
                .p1 5
              td 
                .p1 6
              td 
                .p1 7
              td 
                .p1 8
              td 
                .p1 9
              td 
                .p1 10
              td 
                .p1 11 и далее     
            tr 
              td 
                .p1 Ктд 
              td(colspan='2') 
                .p1 0
              td(colspan='2')  
                .p1 0,2
              td(colspan='2') 
                .p1 0,4
              td(colspan='2') 
                .p1 0,6
              td(colspan='2') 
                .p1 0,8
              td(colspan='2')  
                .p1 1
          ol(start="4")
            li.p1 Тарифы страховых взносов в сумме составляют 7,6 %.
      .main-block4
        h2 Критерии для потенциального резидента 
        ul 
          li.p1 Под резидентом ТОР понимается индивидуальный предприниматель или являющееся коммерческой организацией юридическое лицо, государственная регистрация которых осуществлена на территории ТОР и которые не имеют филиалов вне ТОР.
          li.p1 Необходимый минимальный объем инвестиций должен составлять 500 000 рублей.
          li.p1 Отсутствие у индивидуального предпринимателя или юридического лица недоимки по налогам и сборам, страховым взносам в государственные внебюджетные фонды Российской Федерации, задолженности по иным обязательным платежам в бюджеты бюджетной системы Российской Федерации за прошедший календарный год, размер которых превышает двадцать пять процентов балансовой стоимости активов заявителя, по данным бухгалтерской (финансовой) отчетности за последний отчетный период (пп.7 п.7 ст. 11 №212-ФЗ).
          li.p1 Компания не должна находиться в процессе реорганизации, ликвидации, банкротства.
          li.p1 Виды предпринимательской деятельности, должны соответствовать видам деятельности, закрепленным в соответствующих Постановлениях Правительства РФ о создании ТОР.
      .main-block5
        h2 Часто задаваемые вопросы о ТОР
        .dropdown1
          .dropdown-trigger1
            button(aria-controls="dropdown-menu" aria-haspopup="true").card__select  
              .user.p1 Что такое территория опережающего развития (ТОР)?
              .imgRot
                include ../../static/img/arrow_small.svg
          .dBlock1
            .p1 Нет, одна компания не может быть одновременно резидентом ТОР и СПВ. Это связано с тем, что резидентом может стать новое юридическое лицо или новый инвестиционный проект с адресом регистрации в ТОР и СПВ.
        .dropdown1
          .dropdown-trigger1
            button(aria-controls="dropdown-menu" aria-haspopup="true").card__select  
              .user.p1 Сколько будет действовать режим ТОР?
              .imgRot
                include ../../static/img/arrow_small.svg
          .dBlock1
            .p1 Нет, одна компания не может быть одновременно резидентом ТОР и СПВ. Это связано с тем, что резидентом может стать новое юридическое лицо или новый инвестиционный проект с адресом регистрации в ТОР и СПВ.
        .dropdown1
          .dropdown-trigger1
            button(aria-controls="dropdown-menu" aria-haspopup="true").card__select  
              .user.p1 Как получить землю в ТОР?
              .imgRot
                include ../../static/img/arrow_small.svg
          .dBlock1
            .p1 Нет, одна компания не может быть одновременно резидентом ТОР и СПВ. Это связано с тем, что резидентом может стать новое юридическое лицо или новый инвестиционный проект с адресом регистрации в ТОР и СПВ.
        .dropdown1
          .dropdown-trigger1
            button(aria-controls="dropdown-menu" aria-haspopup="true").card__select  
              .user.p1 На каких условиях можно получить землю в ТОР?
              .imgRot
                include ../../static/img/arrow_small.svg
          .dBlock1
            .p1 Нет, одна компания не может быть одновременно резидентом ТОР и СПВ. Это связано с тем, что резидентом может стать новое юридическое лицо или новый инвестиционный проект с адресом регистрации в ТОР и СПВ.
        .dropdown1
          .dropdown-trigger1
            button(aria-controls="dropdown-menu" aria-haspopup="true").card__select  
              .user.p1 Как подключиться к инфраструктуре (свет, вода, газ, водоотведение, теплоснабжение) в ТОР?
              .imgRot
                include ../../static/img/arrow_small.svg
          .dBlock1
            .p1 Нет, одна компания не может быть одновременно резидентом ТОР и СПВ. Это связано с тем, что резидентом может стать новое юридическое лицо или новый инвестиционный проект с адресом регистрации в ТОР и СПВ.
        .dropdown1
          .dropdown-trigger1
            button(aria-controls="dropdown-menu" aria-haspopup="true").card__select  
              .user.p1 Возможно одной компании одновременно быть резидентом СПВ и ТОР?
              .imgRot
                include ../../static/img/arrow_small.svg
          .dBlock1
            .p1 Нет, одна компания не может быть одновременно резидентом ТОР и СПВ. Это связано с тем, что резидентом может стать новое юридическое лицо или новый инвестиционный проект с адресом регистрации в ТОР и СПВ.
        .dropdown1
          .dropdown-trigger1
            button(aria-controls="dropdown-menu" aria-haspopup="true").card__select  
              .user.p1 В чем отличия режим ТОР от СПВ?
              .imgRot
                include ../../static/img/arrow_small.svg
          .dBlock1.active
            .p1 Нет, одна компания не может быть одновременно резидентом ТОР и СПВ. Это связано с тем, что резидентом может стать новое юридическое лицо или новый инвестиционный проект с адресом регистрации в ТОР и СПВ.
        .b_block
          +button1('Подать заявку на получение статуса резидента')
    include ../chunk/blocks/footer.pug