$gilroyRegular: 'gilroy-regular';
$gilroyBold: 'gilroy-bold';
$gilroySemiBold: 'gilroy-semibold';
$gilroyMedium: 'gilroy-medium';
$color1: #F9F9F9;
$color2: #232323;
$color3: #858585;
$color4: #1D1E33;
$colorForHover:#FF1A1A;
$background: #1D1E33;